/**
 * Taocode ���
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 ����10:05
 */
body{
    /*background-color: #fafafa;*/
}
a{
    outline: 0px;
    color:#57a0de;
}
.d-g-orange{
    color: #f94a15 !important;
    font-weight: 700;
}
.d-g-blue{
    color: #68b318 !important;
    font-weight: 700;

}
.d-g-wrapper{
    width: 980px;
    margin: 0px auto;
}
.layout::after, .main-wrap::after, .col-sub::after, .col-extra::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.p-p-project-btn{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.p-p-project-btn:hover{
    text-decoration: none;
}
.d-p-project-praise{
    background: url(http://img02.taobaocdn.com/tps/i2/T1BVlpXqtbXXbE6Pnu-26-200.png) no-repeat;
}
.d-p-project-praise{
    border: 1px solid #e04212;
    color: #fff;
    padding: 4px 10px 4px 20px;
    position: relative;
    float: left;
    margin-top: -6px;
    margin-left: 128px;
    background: url(http://img04.taobaocdn.com/tps/i4/T1DaR0XppbXXaHB7bX-16-19.png) #f94a15 3px 2px no-repeat;
}

.d-p-project-praise:hover{
    background-color: #e1410d;
}
.d-p-praised,.d-p-praised:hover{
    background: url(http://img03.taobaocdn.com/tps/i3/T1Vu40XDtXXXcmZd7.-12-12.png) 6px 7px #989898 no-repeat;
    border: 1px solid #808080;
}
.d-p-project-join{
    border: 1px solid #cccccc;
    background-color: #e6e6e6;
    color: #666;
    padding:4px 10px;
    position: relative;
    float: left;
    margin-top: -6px;
    margin-left: 14px;
}
.d-p-project-praise:hover,.d-p-project-join:hover{
    text-decoration: none;
}
.text{
    border: 1px solid #bfbfbf;
    height: 18px;
    padding: 5px 0px 5px 10px;
    width: 276px;
    color: #999999;
}

.tender{
    border:2px solid #7a7a7a;
    outline: none;
}
.title{
    height: 31px;
    background-color: #ededed;
    border-bottom: 1px solid #d9d9d9;
    line-height: 31px;
    padding-left: 10px;
}
.title b{}
.title .close{
    float: right;
    width: 10px;
    height: 10px;
    text-indent: -999em;
    background: url(http://img03.taobaocdn.com/tps/i3/T1sE8OXxpbXXc9v57_-10-10.png) no-repeat;
    margin-right: 10px;
    margin-top: 10px;
}
.tender .content{
    background-color: #fff;
    padding: 20px;
}
.content .hot_tag{
    color: #3ba0e7;
    margin-right: 3px;
}
.ks-overlay {
    position:absolute;
    left:-9999px;
    top:-9999px;
}
.ks-ext-mask {
    background-color: #000;
    opacity: 0.2;
    filter: alpha(opacity = 20);
}
.sendmail{
    background-color: #fd7e32;
    color: #fff;
    float: right;
    width: 66px;
    padding: 3px 0;
    border: 1px solid #e56f29;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
}
.button,.button:hover{
    background-color: #fd7e32;
    color: #fff;
    width: 66px;
    padding: 5px 8px 5px 8px;
    border: 1px solid #e56f29;
    text-align: center;
    margin-top: 10px;
    margin-right: 30px;
}
.confirm-box{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    margin-top: -120px;
    margin-left: -340px;
    background: #fff;
    z-index: 1000001;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.40);
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.40);
    border: 1px solid #dedede;
}
.confirm-box h1{
    padding:20px 0px 20px 0px;
}
.confirm-overlay{
    position: absolute;
}
.confirm-overlay .confirm-box{
    margin-top: -130px;
    margin-left: -225px;
}
.errorlist{color:#f84913;}/**
 * Taocode ���
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 ����10:05
 */
.d-m-main-nav{
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    _display: inline;
}
.d-m-main-nav a{
    color: #666666;
}
.d-m-main-nav a:hover{
    color: #000;
    text-decoration: none;
}
.d-m-main-nav li{
    float: left;
    padding:0px 20px;
    background: url(http://img04.taobaocdn.com/tps/i4/T1o9BSXB0dXXb75u_X-3-14.jpg) 0px 3px no-repeat;
}
.d-m-main-nav li.first-nav{
    background:none;
}
.d-m-sub-nav{
   background: #68b318;
    height: 36px;
    width: 980px;
    margin: 0px auto;
}
.d-m-sub-nav ul{
    width: 980px;
    margin: 0px auto;
    /*background: url(http://img02.taobaocdn.com/tps/i2/T1TcprXvFaXXbaW9A_-102-3.png) 0px 30px no-repeat;*/
}
.d-m-sub-nav li{float: left;margin: 0px 30px;padding-bottom: 1px;}
.d-m-sub-nav li a{
    color: #fff;
    display: block;
    padding: 8px 15px 4px 15px;
}
.d-m-sub-nav li a.current{
    font-weight: 700;
    border-bottom: 3px solid #fff;
}
.d-m-sub-nav li a:hover{
    border-bottom: 3px solid #fff;
    text-decoration: none;
}
.d-m-nav{
    background-color: #fff;
}
.d-m-nav-top{
    width: 980px;
    margin: 0px auto;
    padding: 18px 0px;
}
.d-m-nav-logo {
    background: url(http://img01.taobaocdn.com/tps/i1/T1sbl1XApfXXXZm037-115-27.png) 0px 14px no-repeat;
    float: left;
    text-indent: -999em;
    width: 120px;
    height: 54px;
}

.d-m-nav-crp{
    background: url(/img/crp-logo.png) 0px 11px no-repeat;
    float: left;
    text-indent: -999em;
    width: 142px;
    height: 54px;
}

.d-m-search{
    float: right;
    position: relative;
    margin-top:10px;
    width: 520px;
}
.d-m-search .search-text{
    height: 23px;
    border: 1px solid #d9d9d9;
    outline: 0;
    color: #333;
    text-indent: 10px;
    width: 198px;
    float: left;
    line-height: 23px;
    border-right: none;
    padding: 1px 0px;
}
.d-m-search .d-m-search-type{
    float: left;
    position: relative;
    height: 25px;
    overflow: hidden;
    background-color: #fff;
    z-index: 1;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    _width: 60px;
}
.d-m-search .d-m-search-type ul{
    border-left: 1px #fff solid;
    z-index: 2;
    background-color: #fff;
}
.d-m-search .hover ul,.d-m-search-type:hover ul{
    border: 1px solid #dadada;
    border-top: none;
    background-color: #fff;
}
.d-m-search .hover,.d-m-search-type:hover{
    overflow: visible;
    margin-right: -1px;
}
.d-m-search .hover .d-m-search-type,.d-m-search-type:hover .d-m-search-type{
    overflow: visible;
}
.d-m-search .d-m-search-type li{
    height: 25px;
    line-height: 25px;
    display: block;
}
.d-m-search .d-m-search-type a{
    margin-top: 0px;
    float: none;
    position: static;
    margin-right: 0px;
    *height: 25px;
    padding: 0px 20px 0px 10px;
    display: block;
    *width: 34px;
}
.d-m-search .d-m-search-type a:hover{
    background-color: #fafafa;
    text-decoration: none;
}
.d-m-search b{
    background: url(http://img02.taobaocdn.com/tps/i2/T1_CNuXu8gXXamQ26b-9-10.png) no-repeat;
    width: 9px;
    height: 6px;
    display: block;
    position: relative;
    overflow: hidden;
    float: left;
    z-index: 159;
    top: 13px;
    left: -77px;
}
.d-m-search a.search-btn{
    background: url(http://img01.taobaocdn.com/tps/i1/T1uO4vXDBcXXcCMlDc-28-20.png) -1px 2px no-repeat;
    width: 20px;
    height: 25px;
    text-indent: -999em;
    position: relative;
    float: left;
    margin-top: 0;
    margin-right: 25px;
    border: 1px solid #d9d9d9;
    padding-right: 6px;
    padding-left: 10px;
    border-left: none;
}
.d-m-search a,.d-m-main-logined{
    float: left;
    position: relative;
    color: #666666;
    margin-right: 13px;
    margin-top: 4px;
}
.d-m-main-logined a{
    float: none;
    color: #57a0de;
    margin-right: 0px;
}
/*footer*/
.d-m-footer{
    background-color: #e6e6e6;
    margin-top: 50px;
    width: 100%;
    padding-bottom: 20px;
}
.d-m-footer-main{
    width: 700px;
    margin: 0px auto;
    padding: 20px 0px;
}
.d-m-footer-main dl{
    float: left;
    margin: 0 45px 0px 25px;
    color: #999;
    line-height: 22px;
    width: 160px;
    display: inline;
}
.d-m-footer-main dl a{
    color: #999;
}
.d-m-footer-main dt{
    color: #666;
}
.d-m-email,.d-m-weibo,.d-m-twitter{
    background: url(http://img04.taobaocdn.com/tps/i4/T1d3VaXz4iXXb7P52e-160-36.png) no-repeat;
    float: left;
    margin-right: 20px;
    text-indent: -999em;
    height: 26px;
    width: 35px;
    margin-top: 9px;
}
.d-m-email{
    background-position: -6px -5px;
}
.d-m-weibo{
    background-position: -58px -5px;
}
.d-m-twitter{
    background-position: -104px -5px;
    margin-right: 0px;
}
.d-m-right{
    text-align: center;
    color: #999999;
    margin-top: 30px;
}/**
 * Taocode Դ��ҳ
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 ����10:05
 */
.d-p-user{
    border-top: 1px solid #d9d9d9;
}
.d-m-sub-nav{
    display: none;
}
.d-p-user-top{
    /*height: 77px;*/
    /*border-left: 1px solid #d9d9d9;*/
    /*border-right: 1px solid #d9d9d9;*/
}
.d-p-project-name{
    margin: 10px 0px;
}
.d-p-project-name a{
    color: #333;
}
/*.d-p-project-lang{*/
    /*position: relative;*/
    /*margin-top:-30px;*/
    /*float: right;*/
    /*color: #666666;*/
/*}*/
.d-p-user-tab{
    float: left;
}
.d-p-user-tabs{
    background: url(http://img01.taobaocdn.com/tps/i1/T1yRVIXAxcXXcVep_a-5-11.png) 0px 26px repeat-x;
}
.d-p-user-tab a{
    display: block;
    padding: 4px 20px 7px 20px;
    border-top: 3px solid #ffffff;
    color: #333333;
}
.d-p-user-tab a.current{
    border-top: #92cd03 3px solid;
    border-left: #d9d9d9 1px solid;
    border-right: #d9d9d9 1px solid;
    border-bottom: none;
    font-weight: 700;
    background-color: #fff;
}
.d-p-user-content{
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    padding: 20px 28px 50px 28px;
    border-bottom: 1px solid #d9d9d9;
    background-color: #fff;
}

/*�շ�����*/
.d-p-user-message{
    width: 922px;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}
.d-p-user-message tr{
    border-bottom: 1px solid #d9d9d9;
}
.d-p-user-message th{
    font-weight: normal;
    height: 35px;
    line-height: 35px;
    text-align: left;
    background-color: #fafafa;
}
.d-p-user-message td{
    padding: 7px 0px;
    color: #666666;
}
.d-p-user-message .d-p-message-colfirst{
    text-indent: 38px;
}
.d-p-user-message .d-p-message-colsecond{
    padding-right: 50px;
}
.d-p-user-message .d-p-message-colsecond a{
    color: #57a0de;
}
.message_del,.message_reply{
    color: #349fea;
    margin-right: 12px;
}
.reply-box{
    margin-top: 60px;
    display: none;
}
.reply-label{
    float: left;
    margin-left: 9px;
    position: absolute;
    margin-top: 6px;
    color: #666666;
}
.reply-box .text{
    text-indent: 100px;
    padding: 5px 8px;
    color: #666666;
    width:905px;
    height:90px;
    margin-bottom: 20px;
}
.send-message,.save-btn{
    background: #f94a15;
    border: 1px solid #e04212;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-left: 200px;
}
.word-num b{
    color: #f94a15;
}

/*������Ϣ����*/
.d-p-usersetting dl{
    margin-bottom: 20px;
}
.d-p-usersetting dt{
    float: left;
    width: 68px;
    padding-right: 20px;
    text-align: right;
    margin-top: 5px;
}
.d-p-usersetting  dd{
    width: 590px;
    float: left;
}
.d-p-usersetting  dd input{
    border: 1px solid #bfbfbf;
    height: 18px;
    padding: 5px 0 5px 10px;
    width: 276px;
    color: #999;
}
.d-p-usersetting .user-photo{
    border-top: 1px solid #d9d9d9;
    padding-top: 10px;
}
.d-p-usersetting .user-photo p{
    padding: 20px 0px;
}
.d-p-usersetting .user-photo .text{
    margin-bottom: 20px;
}
.d-p-usersetting .user-photo img{
    margin-right:35px;
}
.save-btn{
    margin-left: 445px;
}
.d-p-usersetting .tag{
    padding: 5px 10px 5px 6px;
    background-color: #68b318;
    border:1px solid #60a616;
    color: #fff;
    margin-right: 10px;
}
.d-p-usersetting .addtag{
    color: #349fea;
}
.d-p-usersetting .close{
    background: url(http://img04.taobaocdn.com/tps/i4/T1StNMXCVdXXc1zPrr-9-9.png) no-repeat;
    text-indent: -999em;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 7px;
}
.d-p-socialize dl{
     width: 461px;
    float: left;
 }
.d-p-socialize dd{
     width: 288px;
 }

/*��������*/
.d-p-user-info{
    padding: 10px 0px 20px 0px;
    color: #666666;
}
.d-p-user-info .user-photo{
    float: left;
    margin-right: 20px;
}
.d-p-user-info .user-name{
   font-weight: 700;
    font-family: "΢���ź�";
    font-size: 16px;
    color: #333333;
    margin-right: 20px;
}
.d-p-user-info .user-intro{
    padding: 5px 0px;
}
.user-data .message,.user-data .mail{
    background-color: #e6e6e6;
    color: #666666;
    border:1px solid #cccccc;
    padding: 4px 10px;
}
.user-data .message{
    margin-left: 550px;
    margin-right: 10px;
}
.d-p-user-top .add{
    background-color: #68b318;
    color: #fff;
    border: 1px solid #60a616;
    padding: 5px 10px;
    position: relative;
    top: -7px;
    float: right;
}
.user-data .edit-infor,.user-data .message-manage{
    color: #999999;
    margin-right: 10px;
}
.user-data .sina-weibo{
    background: url(http://img04.taobaocdn.com/tps/i4/T1e1hMXwldXXa6KD_h-49-22.png) -1px -1px no-repeat;
    width: 20px;
    height: 20px;
    text-indent: -999em;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 10px;
}
.user-data .tqq{
    background: url(http://img04.taobaocdn.com/tps/i4/T1e1hMXwldXXa6KD_h-49-22.png) -28px -1px no-repeat;
    width: 20px;
    height: 20px;
    text-indent: -999em;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 10px;
}
.register-time{
    background: url(http://img01.taobaocdn.com/tps/i1/T1DYxqXp4bXXbI5h.j-60-176.png) -2px -96px no-repeat;
    padding-left: 17px;
}

/*�ҵ���Ŀ*/

.d-p-myproject .d-p-project-agree{
    color: #a6a6a6;
    margin-left: 20px;
    background: url(http://img04.taobaocdn.com/tps/i4/T1_Y40XrVaXXXF5BHc-28-25.png) -7px -4px no-repeat;
    padding-left: 17px;

}
.d-p-myproject .d-p-project-notagree{
    color: #a6a6a6;
    margin-left: 20px;
    background: url(http://img01.taobaocdn.com/tps/i1/T17st0XC4XXXb868Lc-28-29.png) -6px -6px no-repeat;
    padding-left: 17px;

}
.d-p-myproject .d-p-project-exit{
    color: #a6a6a6;
    margin-left: 20px;
    background: url(http://img03.taobaocdn.com/tps/i3/T1PN8ZXv8bXXaHB7bX-16-19.png) -3px -2px no-repeat;
    padding-left: 17px;
}
.d-p-myproject{
    padding:20px 0px 0px 0px ;
    border-bottom: none;
}
.d-p-myproject .project-manage,.d-p-myproject .project-delete{
    color: #a6a6a6;
    margin-left: 20px;
    background: url(http://img03.taobaocdn.com/tps/i3/T1coXxXANhXXclCWra-20-90.png) no-repeat;
    padding-left: 17px;
}
.d-p-myproject .project-manage{
    background-position:-3px -2px;
}
.d-p-myproject .project-delete{
    background-position: -1px -27px;
}
.d-p-myproject .project-manage:hover{
    background-position: -2px -51px;
}
.d-p-myproject .project-delete:hover{
    background-position:-1px -76px;
}
.d-p-myproject .project-manage:hover,.d-p-myproject .project-delete:hover{
    color: #349fea;
}
.d-p-myproject table{
    width: 978px;
}
.d-p-myproject td{
    padding: 20px;
    border-bottom:1px solid #ebebeb;
}
.d-p-myproject .d-p-projectintro{
    color: #666666;
}
.d-p-myproject .d-p-projectname,.d-p-newtrends .d-p-project-writer{
    color: #333333;
    font-weight: 700;
}
.d-p-myproject .d-p-project-others{
    color: #b3b3b3;
}
.d-p-myproject .d-p-project-others a {
    color: #349fea;
}
.d-p-myproject .d-p-project-writer {
    margin-right: 15px;
}
.d-p-myproject .d-p-project-others .d-p-project-lang {
    margin-left: 60px;
    float: none;
    margin-right: 60px;
}
.d-p-newtrends .d-p-quiz{
    color: #68b318;
    margin: 0px 10px;
    font-weight: 700;
}

/*tianjiabiaoqian*/
.affirm_add{
    background-color: #fd7e32;
    color: #fff;
    float: right;
    width: 66px;
    padding: 3px 0px;
    border: 1px solid #e56f29;
    text-align: center;
}
input#id_email{
    border: 1px solid #bfbfbf;
    height: 18px;
    padding: 5px 0 5px 10px;
    width: 276px;
    color: #999;
    margin-right: 5px;
}/**
 * Taocode ��ҳ
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 ����10:05
 */
/** ��ҳ��ʽ Start **/
.pagination a.pg-item, .pagination a.pg-item:link, .pagination a.pg-item:visited,
.pagination a.pg-prev, .pagination a.pg-prev:link, .pagination a.pg-prev:visited,
.pagination a.pg-next, .pagination a.pg-next:link, .pagination a.pg-next:visited {
    color: #333;
}
.pagination a.pg-item:hover, .pagination a.pg-item:active,
.pagination a.pg-prev:hover, .pagination a.pg-prev:active,
.pagination a.pg-next:hover, .pagination a.pg-next:active {
    color: #333;
}
.pagination a.pg-disabled, .pagination .pg-skip,
.pagination a.pg-disabled:link, .pagination a.pg-disabled:hover,
.pagination a.pg-disabled:visited, .pagination a.pg-disabled:active {
    color: #999;
}
.pagination {
    text-align: center;
    margin: 10px 0;
}
.pagination .pg-item,
.pagination .pg-prev, .pagination .pg-next, .pagination .pg-item {
    margin-left: 4px;
    vertical-align: middle;
}
.pagination a:hover {
    text-decoration: none;
}

.pagination .pg-prev, .pagination .pg-next, .pagination .pg-item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border: 1px solid #bfbfbf;
    background-color: #f5f5f5;
    padding: 3px 8px;
}
.pagination a.pg-prev, .pagination a.pg-next, .pagination a.pg-item {
    cursor: pointer;
}

.pagination .pg-prev:hover, .pagination .pg-next:hover {
    border-color: #c7e5ff;
}

.pagination .pg-prev:active, .pagination .pg-next:active {
    border-color: #2f96ff;
}

.pagination .pg-current {
    background-color: #68b318;
    font-weight: bold;
    color: white;
    border-color: #60a616;
}
.pagination a.pg-item:hover, .pagination a.pg-item:active,
.pagination .pg-prev:hover, .pagination .pg-prev:active,
.pagination .pg-next:hover, .pagination .pg-next:active {
    border-color: #60a616;
    background-color: #f5f5f5;
}

.pagination .pg-disabled,
.pagination .pg-disabled:link, .pagination .pg-disabled:hover,
.pagination .pg-disabled:visited, .pagination .pg-disabled:active {
    background-color: #f4f4f4;
    border-color: #ddd;
    cursor: text;
}

.pagination .pg-skip .pg-jump {
    margin-right: 4px;
    padding: 3px 8px;
    border: 1px solid #ddd;

}
/** ��ҳ��ʽ End **/