{% extends "layouts/baseview-nav.html" %}
{% load i18n %}
{% load short_uri %}
{%block title%}
Explore
{%endblock%}
{% block extrascript %}
<script type="text/javascript" src="/js/sendmsg-min.js"></script>
<link rel="stylesheet" href="/css/main.css" />
<script type="text/javascript">
	function watch_project(o,projname){
		q_get('prj/watch/' + projname,{}
		, function(r){
			$(o).text(r[0]);
			$('#watch_text').text(r[1]);
		}
		);
	}
</script>
<style>
#J_Slidepic{
    position: relative;
    width: 730px;
    height: 233px;
    overflow: hidden;
    margin-bottom:20px;
}
#J_Slidepic .ks-switchable-nav {
    margin-top:206px;
	position:relative;
	float:left;
	left:50%;
}
#J_Slidepic .ks-switchable-nav li {
    float:left;
    width: 12px;
    height:12px;
    margin-left: 20px;   
	background-color:#82b604;
	text-indent:-999em;
	cursor: pointer;	
	position:relative;
	right:50%;
	z-index:2;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	
}
#J_Slidepic .ks-switchable-nav li.ks-active {
	background-color:#ebeedd;
}

#J_Slidepic .ks-switchable-content li {
    height: 233px;
    width:730px;
    overflow: hidden;   
}

</style>
{% endblock %}

{%block main-block%}
<div class="d-g-wrapper layout d-p-index">
	<div class="col-main">
<!-- 		<div style=" margin-bottom: 20px;"> -->
<!-- 			<a href="http://tengine.taobao.org/" target="_blank"> -->
<!-- 				<img src="http://img01.taobaocdn.com/tps/i1/T1aYhSXq0eXXbyKC_3-730-233.jpg"> -->
<!-- 			</a> -->
<!-- 		</div> -->
    <div id="J_Slidepic">
      
        <ol class="ks-switchable-content">
		
            			<!--<li><a href="http://tengine.taobao.org/?spm=1.2184717.a2145jf.1" target="_blank"><img alt="" src="http://img01.taobaocdn.com/tps/i1/T1aYhSXq0eXXbyKC_3-730-233.jpg"></a></li>-->
						<li><a href="https://crp.aliyun.com/" target="_blank"><img alt="" src="http://code.taobao.org/p/taobaocode/file/3971/taocode-ad.jpg"></a></li>
					
		</ol>
<!--
		<ul class="ks-switchable-nav">
						<li class="">●</li>
						<li class="">●</li>
					</ul>
-->
        
    </div>
		<div class="d-p-index-box d-p-index-hottaps">
			<h2>{%trans "Recommended projects" %}</h2>
			<div class="d-p-index-hotproject">
				<ul class="d-p-projectlist">
					{%for featurePrj in featurePrjs%}
    					<li {%if forloop.counter == 1 %}  style="background-image:none;" {% endif %}>
    						<p class="d-p-project-name">
								<a href="{{featurePrj.project.owner|url}}" class="d-g-orange" target="_blank" title="{{featurePrj.project.owner.name}}">{{featurePrj.project.owner.name|truncatechars:8}}</a>
								/
								<a href="{{featurePrj.project|url}}"  class="d-g-blue" target="_blank" title="{{featurePrj.project.name}}">{{featurePrj.project.name|truncatechars:8}}</a>
    						</p>
    						<p class="layout">
								<span class="d-p-project-intro" title="{{featurePrj.desc}}">{{featurePrj.desc|truncatechars:22}}</span>
    						</p>
    					</li>
					{%endfor%}
				</ul>
			</div>
		</div>
		<!--<div class="d-p-index-box d-p-index-hottaps">
        <h2>{%trans "Hot languages" %}</h2>
        <a class="d-p-index-hdright" target="_blank" href="/project/lang">{%trans "More" %}&gt;</a>
        <div class="d-p-index-hottaps-box">
            <a href="/project/lang/list/{{hotlangs.1.0|urlencode}}/1/" target="_blank"><span class="f28 highlight">{{hotlangs.1.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.2.0|urlencode}}/1/" target="_blank"><span class="f14 grey">{{hotlangs.2.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.3.0|urlencode}}/1/" target="_blank"><span class="f18 black">{{hotlangs.3.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.4.0|urlencode}}/1/" target="_blank"><span class="f14 grey">{{hotlangs.4.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.5.0|urlencode}}/1/" target="_blank"><span class="f18 black">{{hotlangs.5.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.6.0|urlencode}}/1/" target="_blank"><span class="f14 highlight">{{hotlangs.6.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.7.0|urlencode}}/1/" target="_blank"><span class="f14 grey">{{hotlangs.7.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.8.0|urlencode}}/1/" target="_blank"><span class="f18 highlight">{{hotlangs.8.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.9.0|urlencode}}/1/" target="_blank"><span class="f14 grey">{{hotlangs.9.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.10.0|urlencode}}/1/" target="_blank"><span class="f18 black">{{hotlangs.10.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.11.0|urlencode}}/1/" target="_blank"><span class="f28 highlight">{{hotlangs.11.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.12.0|urlencode}}/1/" target="_blank"><span class="f14 grey">{{hotlangs.12.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.13.0|urlencode}}/1/" target="_blank"><span class="f18 black">{{hotlangs.13.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.14.0|urlencode}}/1/" target="_blank"><span class="f14 grey">{{hotlangs.14.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.15.0|urlencode}}/1/" target="_blank"><span class="f18 black">{{hotlangs.15.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.16.0|urlencode}}/1/" target="_blank"><span class="f14 highlight">{{hotlangs.16.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.17.0|urlencode}}/1/" target="_blank"><span class="f14 grey">{{hotlangs.17.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.18.0|urlencode}}/1/" target="_blank"><span class="f18 highlight">{{hotlangs.18.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.19.0|urlencode}}/1/" target="_blank"><span class="f14 grey">{{hotlangs.19.0}}</span></a>
            <a href="/project/lang/list/{{hotlangs.20.0|urlencode}}/1/" target="_blank"><span class="f18 black">{{hotlangs.20.0}}</span></a>
        </div>
    </div>-->
		<div id="J_Slide" class="d-p-index-box d-p-index-hotproject">
			<h2>{%trans "remengxiangmu" %}</h2>
			<ul class="d-p-index-hdright d-p-project-bytime ks-switchable-nav">
				<li class="current">
					<a class="" href="javascript:void(0);">{%trans "Today" %}</a>
				</li>
				<li>
					<a class="" href="javascript:void(0);">{%trans "This week"%}</a>
				</li>
				<li>
					<a class="" href="javascript:void(0);">{%trans "This month" %}</a>
				</li>
			</ul>
			<div class="d-p-projectlist-box">
				<div class="ks-switchable-content">
					<ul class="d-p-projectlist">
						{%include "project/hot-proj-info.html" with projects=dayhot %}
					</ul>
					<ul style="display:none;" class="d-p-projectlist">
						{%include "project/hot-proj-info.html" with projects=weekhot %}
					</ul>
					<ul style="display:none;" class="d-p-projectlist">
						{%include "project/hot-proj-info.html" with projects=monthhot %}
					</ul>
				</div>
			</div>
		</div>
		<div class="d-p-index-box d-p-index-newsource">
			<h2>{%trans "zuixinkaiyuan"%}</h2>
			<a class="d-p-index-hdright" target="_blank" href="/newest">{%trans "More" %}&gt;</a>
			<ul>
				{%for newestproj in newestprojs%}
				<li {%if forloop.counter == 1 %} style="background-image:none;" {% endif %}	>
					<p class="layout">
					<a target="_blank" class="d-g-blue d-p-project-name" href="{{newestproj|url}}">{{newestproj.name}}</a>
					<span class="d-p-project-time">{{newestproj.ctime|date}}</span>
					</p>
					<p class="d-p-project-intro">
					{{newestproj.title|truncatechars:60}}
					</p>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>
	<div class="col-sub">
		<div class="d-p-index-box d-p-index-hotmember">
			<h2>{%trans "Active Members"%}</h2>
			<ul>
				{%for auser in ausers%}
				<li {%if forloop.counter == 1 %} class="layout" {% else %}  class="layout active" {% endif %}>
					<span class="d-p-index-sort">{{ forloop.counter }}</span>
					{%gravatarExplore auser.email auser.name%}
					<div class="d-p-index-memberdata">
						<p>
						<a class="d-g-orange d-p-index-membername" target="_blank" href="{{auser|url}}" title="{{auser.name}}">{{auser.name|truncatechars:10}}</a>
						{% if user.is_authenticated %}
							<a  class="email message" href="javascript:;" data-name="{{auser.name}}">email</a>
						{%endif%}
						</p>
						<div class="d-p-index-memberotherdata">
							<p>
							{%trans "The number of projects"%}:{{auser.proj_num|default:0}}
							</p>
							<p title="{{auser.languages}}">
							{{auser.languages|truncatechars:16}}
							</p>
						</div>
					</div>
				</li>
				{%endfor%}
			</ul>
		</div>
		<div class="d-p-index-box d-p-index-projectnew">
			<h2>{%trans "Recently"%}</h2>
			<ul>
				{%for recent in recently%}
				<li>
					<a target="_blank" href="{{recent.user|url}}"><span class="d-g-orange d-p-index-project-submitter">{{recent.user.name}}</span></a>
					<span class="d-p-index-project-time">{{recent.ctime|difftime}}</span>
					{%trans "In"%}
					<a target="_blank" href="{{recent.project|url}}"><span class="d-g-blue d-p-project-where">{{recent.project}}</span></a>
					{%trans recent.act_text %}
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>
</div>
<script>
	KISSY.use('js/app/main/main');
</script>
<script>
	KISSY.use("switchable", function (S, Switchable) {
		var s = new Switchable.Slide('#J_Slidepic', {
            switchTo:0,
			effect : 'scrolly',
			autoplay:true,
			easing : 'easeOutStrong'
		});
	 });
</script>
{%endblock%}
