{% extends "layouts/baseview-nav.html" %}
{% load i18n %}
{% load short_uri %}

{%block title%}
Recently
{%endblock%}

{% block extrascript %}
<script type="text/javascript" src="/js/fclean.js"></script>
<link rel="stylesheet" href="/css/new_open.css" />
{% endblock %}

{%block main-block%}
<div class="d-g-wrapper d-p-update">
	<table>
		<tbody>
			{%for proj in recently%}
    			<tr>
    				<td>
    					<a href="{{proj.user|url}}" class="d-g-orange d-p-project-writer" title="{{proj.user.name}}">{{proj.user.name|truncatechars:16}}</a>
							{%trans proj.act_text %}
    					<a href="{{proj.project|url}}" class="d-g-blue d-p-projectname" title="{{proj.project.name}}">{{proj.project.name|truncatechars:32}}</a>
    					<span class="d-p-projecttime">{{proj.ctime|difftime}}</span>
    					<p class="d-p-projectintro">
							{{proj.project.title|truncatechars:60}}
    					</p>
    				</td>
    			</tr>
			{%endfor%}
		</tbody>
	</table>
</div>
<script>

    KISSY.use('js/app/main/new_open');
</script>
{%endblock%}