{% load i18n %}
{% load short_uri %}

<div class="pagination">
<form id="page"  action="{{jump_page_uri}}" method="post">
	{%if pagenum != 1 %}
	<a class="pg-prev pg-first" href="{{first_page_uri}}" id="first">{{_('first')}}</a>
	{%else%}
	 <a class="pg-prev pg-first pg-disabled"  id="first">{{_('first')}}</a>
	{%endif %}
	{%if page.has_previous %}
    	<a href="{{previous_page_uri}}" id="prev" class="pg-prev">{{_('prev')}}</a>
  	{%else%}
  		<a class="pg-prev pg-disabled">{{_('prev')}}</a>
  	{%endif%}
  	{%if page.has_next %}
  		<a href="{{next_page_uri}}" id="next" class="pg-next">{{_('next')}}</a>
  	{%else%}
  		<a class="pg-prev pg-disabled">{{_('next')}}</a>
  	{%endif%}
  	
  	{%if pagenum == pagecount %}
  		<a id="last" class="pg-next pg-last pg-disabled">{{_('last')}}</a>
  	{%else%}
  		<a href="{{last_page_uri}}" id="last" class="pg-next pg-last ">{{_('last')}}</a>
	{%endif%}
  	
  	{%csrf_token%}
	  	
		<span class="pg-skip">共{{result_count}}页 到第
	    <input type="text" id="jump" name="jump" size="2" class="pg-jump" value={{pagenum}}>页
	    <button type="submit" class="J_jumpToBtn pg-next">确定</button>
    </form>


</div>
