{% extends "layouts/baseview.html" %}
{% load i18n %}
{% load short_uri %}

{% block title %}{{ project.name }}{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="/css/code-min.css?ver=2" />
{% endblock %}

{% block extrastyle %}

{% endblock %}

{% block main-block %}

<div class="d-p-project-content d-p-project-record">
	<table>
		<tbody>
		
			{%for log in page.object_list%}
			<tr>
				<td>
				{%if log.act_type == "new_prj" %}
					<a class="d-g-orange d-p-project-writer" href="{{log.user|url}}">{{log.user}}</a>{%trans "new project"%}
					<a class="d-g-blue d-p-projectname" href="{{log.project|url}}">{{log.project}}</a><span class="d-p-projecttime">{{log.ctime|difftime}}</span>
					<p class="d-p-projectintro">{{log.project.title}}</p>
				{%endif%}
			
				{%if log.act_type == "new_commit" %}
					<a class="d-g-orange d-p-project-writer" href="{{log.user|url}}">{{log.user}}</a>{%trans "at project"%}
					<a class="d-g-blue d-p-projectname" href="{{log.project|url}}">{{log.project}}</a>{%trans "new commit"%}<span class="d-p-projecttime">{{log.ctime|difftime}}</span>
					<p class="d-p-projectintro" ><a href="{{log.project|url}}log/{{log.commit.rev}}/">#{{log.commit.rev}}</a>-{{log.commit.msg}}</p>
				{%endif%}	
				
				
				{%if log.act_type == "new_issue" %}
					<a class="d-g-orange d-p-project-writer" href="{{log.user|url}}">{{log.user}}</a>{%trans "at project"%}
					<a class="d-g-blue d-p-projectname" href="{{log.project|url}}">{{log.project}}</a>{%trans "new issue"%}<span class="d-p-projecttime">{{log.ctime|difftime}}</span>
					<p class="d-p-projectintro" ><a href="{{log.project|url}}issue/{{log.content}}">#{{log.content}}</a>-{{log.content.title}}</p>
				{%endif%}
				
				
				{%if log.act_type == "close_issue" %}
					<a class="d-g-orange d-p-project-writer" href="{{log.user|url}}">{{log.user}}</a>{%trans "at project"%}
					<a class="d-g-blue d-p-projectname" href="{{log.project|url}}">{{log.project}}</a>{%trans "close issue"%}<span class="d-p-projecttime">{{log.ctime|difftime}}</span>
					<p class="d-p-projectintro"><a  href="{{log.project|url}}issue/{{log.content}}">#{{log.content}}</a>-{{log.content.title}}</p>
				{%endif%}	
				{%if log.act_type == "del_issue" %}
					<a class="d-g-orange d-p-project-writer" href="{{log.user|url}}">{{log.user}}</a>{%trans "at project"%}
					<a class="d-g-blue d-p-projectname" href="{{log.project|url}}">{{log.project}}</a>{%trans "delete issue"%}<span class="d-p-projecttime">{{log.ctime|difftime}}</span>
					<p class="d-p-projectintro"><a  href="{{log.project|url}}issue/{{log.content}}">#{{log.content}}</a>-{{log.content.title}}</p>
				{%endif%}	
	
				</td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
 {% include "layouts/page-nav.html" %}
</div>
{% endblock %}

