/**
 * Taocode Ö÷µ¼º½
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 ÉÏÎç10:05
 */
body{
    /*background-color: #fafafa;*/
}
a{
    outline: 0px;
    color:#57a0de;
}
.d-g-orange{
    color: #f94a15 !important;
    font-weight: 700;
}
.d-g-blue{
    color: #68b318 !important;
    font-weight: 700;

}
.d-g-wrapper{
    width: 980px;
    margin: 0px auto;
}
.layout::after, .main-wrap::after, .col-sub::after, .col-extra::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.p-p-project-btn{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.p-p-project-btn:hover{
    text-decoration: none;
}
.d-p-project-praise{
    background: url(http://img02.taobaocdn.com/tps/i2/T1BVlpXqtbXXbE6Pnu-26-200.png) no-repeat;
}
.d-p-project-praise{
    border: 1px solid #e04212;
    color: #fff;
    padding: 4px 10px 4px 20px;
    position: relative;
    float: left;
    margin-top: -6px;
    margin-left: 128px;
    background: url(http://img04.taobaocdn.com/tps/i4/T1DaR0XppbXXaHB7bX-16-19.png) #f94a15 3px 2px no-repeat;
}

.d-p-project-praise:hover{
    background-color: #e1410d;
}
.d-p-praised,.d-p-praised:hover{
    background: url(http://img03.taobaocdn.com/tps/i3/T1Vu40XDtXXXcmZd7.-12-12.png) 6px 7px #989898 no-repeat;
    border: 1px solid #808080;
}
.d-p-project-join{
    border: 1px solid #cccccc;
    background-color: #e6e6e6;
    color: #666;
    padding:4px 10px;
    position: relative;
    float: left;
    margin-top: -6px;
    margin-left: 14px;
}
.d-p-project-praise:hover,.d-p-project-join:hover{
    text-decoration: none;
}
.text{
    border: 1px solid #bfbfbf;
    height: 18px;
    padding: 5px 0px 5px 10px;
    width: 276px;
    color: #999999;
}

.tender{
    border:2px solid #7a7a7a;
    outline: none;
}
.title{
    height: 31px;
    background-color: #ededed;
    border-bottom: 1px solid #d9d9d9;
    line-height: 31px;
    padding-left: 10px;
}
.title b{}
.title .close{
    float: right;
    width: 10px;
    height: 10px;
    text-indent: -999em;
    background: url(http://img03.taobaocdn.com/tps/i3/T1sE8OXxpbXXc9v57_-10-10.png) no-repeat;
    margin-right: 10px;
    margin-top: 10px;
}
.tender .content{
    background-color: #fff;
    padding: 20px;
}
.content .hot_tag{
    color: #3ba0e7;
    margin-right: 3px;
}
.ks-overlay {
    position:absolute;
    left:-9999px;
    top:-9999px;
}
.ks-ext-mask {
    background-color: #000;
    opacity: 0.2;
    filter: alpha(opacity = 20);
}
.sendmail{
    background-color: #fd7e32;
    color: #fff;
    float: right;
    width: 66px;
    padding: 3px 0;
    border: 1px solid #e56f29;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
}
.button,.button:hover{
    background-color: #fd7e32;
    color: #fff;
    width: 66px;
    padding: 5px 8px 5px 8px;
    border: 1px solid #e56f29;
    text-align: center;
    margin-top: 10px;
    margin-right: 30px;
}
.confirm-box{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    margin-top: -120px;
    margin-left: -340px;
    background: #fff;
    z-index: 1000001;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.40);
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.40);
    border: 1px solid #dedede;
}
.confirm-box h1{
    padding:20px 0px 20px 0px;
}
.confirm-overlay{
    position: absolute;
}
.confirm-overlay .confirm-box{
    margin-top: -130px;
    margin-left: -225px;
}
.errorlist{color:#f84913;}