/**
 * Taocode 源码页
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 上午10:05
 */
.d-p-user{
    border-top: 1px solid #d9d9d9;
}
.d-m-sub-nav{
    display: none;
}
.d-p-user-top{
    /*height: 77px;*/
    /*border-left: 1px solid #d9d9d9;*/
    /*border-right: 1px solid #d9d9d9;*/
}
.d-p-project-name{
    margin: 10px 0px;
}
.d-p-project-name a{
    color: #333;
}
/*.d-p-project-lang{*/
    /*position: relative;*/
    /*margin-top:-30px;*/
    /*float: right;*/
    /*color: #666666;*/
/*}*/
.d-p-user-tab{
    float: left;
}
.d-p-user-tabs{
    background: url(http://img01.taobaocdn.com/tps/i1/T1yRVIXAxcXXcVep_a-5-11.png) 0px 26px repeat-x;
}
.d-p-user-tab a{
    display: block;
    padding: 4px 20px 7px 20px;
    border-top: 3px solid #ffffff;
    color: #333333;
}
.d-p-user-tab a.current{
    border-top: #92cd03 3px solid;
    border-left: #d9d9d9 1px solid;
    border-right: #d9d9d9 1px solid;
    border-bottom: none;
    font-weight: 700;
    background-color: #fff;
}
.d-p-user-content{
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    padding: 20px 28px 50px 28px;
    border-bottom: 1px solid #d9d9d9;
    background-color: #fff;
}

/*收发件箱*/
.d-p-user-message{
    width: 922px;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}
.d-p-user-message tr{
    border-bottom: 1px solid #d9d9d9;
}
.d-p-user-message th{
    font-weight: normal;
    height: 35px;
    line-height: 35px;
    text-align: left;
    background-color: #fafafa;
}
.d-p-user-message td{
    padding: 7px 0px;
    color: #666666;
}
.d-p-user-message .d-p-message-colfirst{
    text-indent: 38px;
}
.d-p-user-message .d-p-message-colsecond{
    padding-right: 50px;
}
.d-p-user-message .d-p-message-colsecond a{
    color: #57a0de;
}
.message_del,.message_reply{
    color: #349fea;
    margin-right: 12px;
}
.reply-box{
    margin-top: 60px;
    display: none;
}
.reply-label{
    float: left;
    margin-left: 9px;
    position: absolute;
    margin-top: 6px;
    color: #666666;
}
.reply-box .text{
    text-indent: 100px;
    padding: 5px 8px;
    color: #666666;
    width:905px;
    height:90px;
    margin-bottom: 20px;
}
.send-message,.save-btn{
    background: #f94a15;
    border: 1px solid #e04212;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-left: 200px;
}
.word-num b{
    color: #f94a15;
}

/*个人信息设置*/
.d-p-usersetting dl{
    margin-bottom: 20px;
}
.d-p-usersetting dt{
    float: left;
    width: 68px;
    padding-right: 20px;
    text-align: right;
    margin-top: 5px;
}
.d-p-usersetting  dd{
    width: 590px;
    float: left;
}
.d-p-usersetting  dd input{
    border: 1px solid #bfbfbf;
    height: 18px;
    padding: 5px 0 5px 10px;
    width: 276px;
    color: #999;
}
.d-p-usersetting .user-photo{
    border-top: 1px solid #d9d9d9;
    padding-top: 10px;
}
.d-p-usersetting .user-photo p{
    padding: 20px 0px;
}
.d-p-usersetting .user-photo .text{
    margin-bottom: 20px;
}
.d-p-usersetting .user-photo img{
    margin-right:35px;
}
.save-btn{
    margin-left: 445px;
}
.d-p-usersetting .tag{
    padding: 5px 10px 5px 6px;
    background-color: #68b318;
    border:1px solid #60a616;
    color: #fff;
    margin-right: 10px;
}
.d-p-usersetting .addtag{
    color: #349fea;
}
.d-p-usersetting .close{
    background: url(http://img04.taobaocdn.com/tps/i4/T1StNMXCVdXXc1zPrr-9-9.png) no-repeat;
    text-indent: -999em;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 7px;
}
.d-p-socialize dl{
     width: 461px;
    float: left;
 }
.d-p-socialize dd{
     width: 288px;
 }

/*个人中心*/
.d-p-user-info{
    padding: 10px 0px 20px 0px;
    color: #666666;
}
.d-p-user-info .user-photo{
    float: left;
    margin-right: 20px;
}
.d-p-user-info .user-name{
   font-weight: 700;
    font-family: "微软雅黑";
    font-size: 16px;
    color: #333333;
    margin-right: 20px;
}
.d-p-user-info .user-intro{
    padding: 5px 0px;
}
.user-data .message,.user-data .mail{
    background-color: #e6e6e6;
    color: #666666;
    border:1px solid #cccccc;
    padding: 4px 10px;
}
.user-data .message{
    margin-left: 550px;
    margin-right: 10px;
}
.d-p-user-top .add{
    background-color: #68b318;
    color: #fff;
    border: 1px solid #60a616;
    padding: 5px 10px;
    position: relative;
    top: -7px;
    float: right;
}
.user-data .edit-infor,.user-data .message-manage{
    color: #999999;
    margin-right: 10px;
}
.user-data .sina-weibo{
    background: url(http://img04.taobaocdn.com/tps/i4/T1e1hMXwldXXa6KD_h-49-22.png) -1px -1px no-repeat;
    width: 20px;
    height: 20px;
    text-indent: -999em;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 10px;
}
.user-data .tqq{
    background: url(http://img04.taobaocdn.com/tps/i4/T1e1hMXwldXXa6KD_h-49-22.png) -28px -1px no-repeat;
    width: 20px;
    height: 20px;
    text-indent: -999em;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 10px;
}
.register-time{
    background: url(http://img01.taobaocdn.com/tps/i1/T1DYxqXp4bXXbI5h.j-60-176.png) -2px -96px no-repeat;
    padding-left: 17px;
}

/*我的项目*/

.d-p-myproject .d-p-project-agree{
    color: #a6a6a6;
    margin-left: 20px;
    background: url(http://img04.taobaocdn.com/tps/i4/T1_Y40XrVaXXXF5BHc-28-25.png) -7px -4px no-repeat;
    padding-left: 17px;

}
.d-p-myproject .d-p-project-notagree{
    color: #a6a6a6;
    margin-left: 20px;
    background: url(http://img01.taobaocdn.com/tps/i1/T17st0XC4XXXb868Lc-28-29.png) -6px -6px no-repeat;
    padding-left: 17px;

}
.d-p-myproject .d-p-project-exit{
    color: #a6a6a6;
    margin-left: 20px;
    background: url(http://img03.taobaocdn.com/tps/i3/T1PN8ZXv8bXXaHB7bX-16-19.png) -3px -2px no-repeat;
    padding-left: 17px;
}
.d-p-myproject{
    padding:20px 0px 0px 0px ;
    border-bottom: none;
}
.d-p-myproject .project-manage,.d-p-myproject .project-delete{
    color: #a6a6a6;
    margin-left: 20px;
    background: url(http://img03.taobaocdn.com/tps/i3/T1coXxXANhXXclCWra-20-90.png) no-repeat;
    padding-left: 17px;
}
.d-p-myproject .project-manage{
    background-position:-3px -2px;
}
.d-p-myproject .project-delete{
    background-position: -1px -27px;
}
.d-p-myproject .project-manage:hover{
    background-position: -2px -51px;
}
.d-p-myproject .project-delete:hover{
    background-position:-1px -76px;
}
.d-p-myproject .project-manage:hover,.d-p-myproject .project-delete:hover{
    color: #349fea;
}
.d-p-myproject table{
    width: 978px;
}
.d-p-myproject td{
    padding: 20px;
    border-bottom:1px solid #ebebeb;
}
.d-p-myproject .d-p-projectintro{
    color: #666666;
}
.d-p-myproject .d-p-projectname,.d-p-newtrends .d-p-project-writer{
    color: #333333;
    font-weight: 700;
}
.d-p-myproject .d-p-project-others{
    color: #b3b3b3;
}
.d-p-myproject .d-p-project-others a {
    color: #349fea;
}
.d-p-myproject .d-p-project-writer {
    margin-right: 15px;
}
.d-p-myproject .d-p-project-others .d-p-project-lang {
    margin-left: 60px;
    float: none;
    margin-right: 60px;
}
.d-p-newtrends .d-p-quiz{
    color: #68b318;
    margin: 0px 10px;
    font-weight: 700;
}

/*tianjiabiaoqian*/
.affirm_add{
    background-color: #fd7e32;
    color: #fff;
    float: right;
    width: 66px;
    padding: 3px 0px;
    border: 1px solid #e56f29;
    text-align: center;
}
input#id_email{
    border: 1px solid #bfbfbf;
    height: 18px;
    padding: 5px 0 5px 10px;
    width: 276px;
    color: #999;
    margin-right: 5px;
}