{% extends "layouts/baseview-nav.html" %}
{% load i18n %}
{% load short_uri %}

{%block title%}all projects{%endblock%}


{% block extrastyle %}

<link rel="stylesheet" href="/css/hot_project.css" />

{% endblock %}


{%block main-nav%}
{%endblock%}

{%block body-menu%}
<!--
<div class="body-menu">
  <div class="left">
    <ul class="bodynav">
      {%for m in bodymenus%}
      <li class="{{m.choice|yesno:'choice,'}}">
	<a href="{{m.uri}}">{{m.text}}</a>
      </li>
      {%endfor%}
    </ul>
  </div>
</div>
-->
{%endblock%}

{%block main-block%}
{%if all_projects%}
<div class="body-menu">
  <div class="left">
    <form id="prj-search-form" action="/all/" method="POST">
      {%csrf_token%}
      <input id="q" name="q" type="hidden" value="{{key_text}}"></input>
    </form>
    <input size="30" id="key-text" type="text" value="{{key_text}}"></input>
    <a id="btn-search" href="javascript:;" class="button">search</a>
  </div>
  <div class="img-btn right">
    <a href="/new" title="New project">
      <img src="/img/add_project.png"></img>
    </a>
  </div>
</div>
<!--
<div class="bottom-line">
  {% include "layouts/page-nav.html" %}
</div>
-->
{%endif%}
<p>
<div class="d-g-wrapper layout d-p-hotproject">
	<div class="col-main">
		<ul>
			{%for project in prjsgraph%}
			<li class="layout">
				<a class="d-g-blue d-p-projectname" href="/p/{{project.project}}" title={{project.project}} >  {{project.project}} </a>
			  <a class="d-p-projectratio" href="/p/{{project.project}}">
			  	<b style="width:{{project.width|default:0}}px"></b>
			  	<span class="d-p-projectrationum">{{project.uc|default:0}} </span>
			  </a>
			</li>
			{%endfor%}
		</ul>
 </div>
<div class="col-sub">
	<ul class="d-p-hotprojectsort">
<!--
		<li  {%if current_page == "downloadtimes"%} class="current"   {%endif%}>
			<a href="/downloadtimes" class="hotproject-down"  > {% trans "hotproject-down" %} </a>
		</li>
-->
		<li  {%if current_page == "hot"%} class="current"   {%endif%}>
			<a href="/hot"     class="hotproject-visit"    > {% trans "hotproject-visit" %} </a>
		</li>
		<li {%if current_page == "watched"%} class="current"   {%endif%}>
			<a href="/watched"   class="attention" > {% trans "hotproject-attention" %} </a>
		</li>
		<li {%if current_page == "committimes"%} class="current"   {%endif%}>
			<a href="/committimes" class="submit" >   {% trans "hotproject-submit" %} </a>
		</li>
		<li {%if current_page == "issuetimes"%} class="current"   {%endif%}>
			<a href="/issuetimes"  class="faqs" > {% trans "hotproject-faqs" %} </a>
		</li>
	</ul>
</div>
</div>
</p>
<!--
{%if all_projects%}
<div class="top-line">
  {% include "layouts/page-nav.html" %}
</div>
{%endif%}
-->
{%endblock%}
