/**
 * Taocode 热门项目
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 上午10:05
 */
.d-p-hotproject{
    margin-top: 20px;
}
.d-p-hotproject .col-main{
    width: 750px;
    float: right;
}
.d-p-hotproject .col-main li{
    margin-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
}
.d-p-projectname{
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    float: left;
    width: 110px;
    color: #666;
    font-weight: 700;
    white-space: nowrap;
    height: 18px;
    overflow: hidden;
    margin-right: 10px;
}
.d-p-projectname:hover{
    text-decoration: none;
}
.d-p-projectratio{
    float: left;
    width: 630px;
    cursor: pointer;
    outline: none;
}
.d-p-projectratio:hover{
    text-decoration: none;
    zoom:1;
}
.d-p-projectratio:hover .d-p-projectrationum{
    display: inline;
    /*background: url(http://img04.taobaocdn.com/tps/i4/T1EbdDXvpXXXaHgGAA-399-200.png) -192px -1px #68b318 no-repeat;*/
    /*background: url(http://img03.taobaocdn.com/tps/i3/T1..4FXE4dXXcgh5w5-110-26.png) #68b318 0px -2px no-repeat;*/
    /*background-image: none\9;*/
    background-color: #68b318;
}
a.d-p-projectratio:hover b{
    background-color: #68b318;
    border: 1px solid #60a616;
}
.d-p-projectratio b{
    float: left;
    width: 550px;
    height:11px;
    line-height: 11px;
    background-color: #d9d9d9;
    border: 1px solid #bfbfbf;
}

.d-p-projectrationum{
    float: left;
    position: absolute;
    height: 21px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 21px;
    margin-left: 10px;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius:3px;
    margin-top: -5px;
}
/*.d-p-projectrationum s{*/
    /*background-color: #000;*/
    /*width: 2px;*/
    /*height: 20px;*/
    /*float: right;*/
/*}*/
.d-p-hotproject .col-sub{
    width: 180px;
    float: left;
}
.d-p-hotprojectsort {
    border-bottom: 1px solid #d9d9d9;
    font-size: 0px;
}
.d-p-hotprojectsort li{
   *display:inline-block;
    zoom:1;
}
.d-p-hotprojectsort a{
    font-size: 12px;
    display: block;
    border: 1px solid #d9d9d9;
    border-bottom: none;
    background:url(http://img04.taobaocdn.com/tps/i4/T1EbdDXvpXXXaHgGAA-399-200.png) 2px 39px  no-repeat;
    padding: 7px 0px 7px 55px;
    color: #666666;
}
.d-p-hotprojectsort a:hover{
    color: #f84913;
    text-decoration: none;
}
.d-p-hotprojectsort a.hotproject-down{
    background-position: -164px -38px;
}
.d-p-hotprojectsort a.hotproject-down:hover{
    background-position: 32px -39px;
}
.d-p-hotprojectsort .current a.hotproject-down,.d-p-hotprojectsort .current a.hotproject-down:hover{
    background-position: -354px -37px;
}
.d-p-hotprojectsort a.hotproject-visit{
    background-position: -164px -70px;
}
.d-p-hotprojectsort a.hotproject-visit:hover{
    background-position:32px -71px
}
.d-p-hotprojectsort .current a.hotproject-visit,.d-p-hotprojectsort .current a.hotproject-visit:hover{
    background-position: -354px -69px;
}
.d-p-hotprojectsort  a.attention{
    background-position: -164px -106px;
}
.d-p-hotprojectsort a.attention:hover{
    background-position: 32px -107px;
}
.d-p-hotprojectsort .current a.attention,.d-p-hotprojectsort .current a.attention:hover{
    background-position: -354px -105px;
}
.d-p-hotprojectsort a.submit{
    background-position: -164px -139px;
}
.d-p-hotprojectsort a.submit:hover{
    background-position: 32px -140px;
}
.d-p-hotprojectsort .current a.submit,.d-p-hotprojectsort .current a.submit:hover{
    background-position: -354px -138px;
}
.d-p-hotprojectsort a.faqs{
    background-position: -164px -172px;
}
.d-p-hotprojectsort a.faqs:hover{
    background-position: 32px -173px;
}
.d-p-hotprojectsort .current a.faqs,.d-p-hotprojectsort .current a.faqs:hover{
    background-position: -354px -171px;
}
.d-p-hotprojectsort .current{
    background:url(http://img04.taobaocdn.com/tps/i4/T1EbdDXvpXXXaHgGAA-399-200.png) -1px 0px no-repeat;
    margin-right: -10px;
    position: relative;

}
.d-p-hotprojectsort .current a{
    font-weight: 700;
    color: #fff;
    border: none;
}

