{% extends "layouts/baseview.html" %}
{% load i18n %}

{%block ready_js%}

{%endblock%}

{% block stylesheet %}
<link rel="stylesheet" href="/css/register-min.css" />
{% endblock %}

{%block main-block%}
<div class="d-g-wrapper d-p-login">
<div id="J_Slidepic" class="bg_slide">
        <ul class="ks-switchable-content">
             <li><a><img src="http://img02.taobaocdn.com/tps/i2/T1aEFFFchdXXbcsDI3-980-514.gif"/></a></li>
           <!--   <li><a><img src="http://img02.taobaocdn.com/tps/i2/T1kptUXqFbXXcLtTI3-980-514.jpg"/></a></li>
             <li><a><img src="http://img02.taobaocdn.com/tps/i2/T1kptUXqFbXXcLtTI3-980-514.jpg"/></a></li> -->
        </ul>
    </div>
    <div class="statistics">
        <ul>
            <li>{%trans "All projects"%}：{{report.report_cycle}}</li>
            <li>{%trans "All members"%}：{{report.download_times}}</li>
            <li>{%trans "Yesterday commit"%}：{{report.commit_times}}</li>
            <li>{%trans "Yesterday issue"%}：{{report.issue_times}}</li>
        </ul>
    </div>


	<div class="d-p-login-box">
		<h2 class="d-p-login-hd">{%trans "login"%}</h2>
		<div class="d-p-login-bd">
			    <form id="login-form" action="/login/" method="post">
				      {% csrf_token %}
				   <table>
					{{form.as_table}}
						


				    </table>
				      <input type="submit" name="login" value={%trans "login" %} class="J_Submit btn-login"></input>
			  	</form>
			   
			      
				    <p class="layout">
				      <a href="/reset/" class="lost-password">{%trans "Forgot password"%}</a>
				      <a href="/register/" class="toregister">{%trans "register"%}</a>
				      
				    </p>
			
			  </div>
	</div>
</div>
{%endblock%}
