{% extends "layouts/baseview.html" %}
{% load i18n %}
{% load short_uri %}

{%block title%}{{project.name}} - {{path}}{%endblock%}


{% block stylesheet %}
<link rel="stylesheet" href="/css/code-min.css?ver=2" />
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>

{% endblock %}

{%block main-block%}

<div class="d-p-project-content">
 <div class="d-p-project-svn">
     <span class="d-p-project-svnurl">
      <input type="text" readonly spellcheck="false"  value={{REPOS}}>
     </span>
</div>
     
<h2 class="d-p-project-root">{{project.name}}/
  {%for p in paths%}
    <a href="{{project|url}}src/{{p.url}}/">{{p.path}}</a>
    <span>/</span>
  {%endfor%}    
</h2>


<h4><a href="{{project|url}}logs{{path}}">{%trans "Revision"%}</a> r{{rev}}</h4>
<p>{%trans "Added by"%} <a href="/u/{{author}}/">{{author}}</a> <em>{{mtime|utc2loc}}</em></p>
<p>
  <div class="pretext">
    {{msg|linebreaks}}
  </div>
</p>
{%for p in cfiles%}
<div>
  <span><strong>{{p.action}}</strong></span>
  <span><a class="filename" href="{{project|url}}diff/{{rev}}{{p.name}}">{{p.name}}</a></span>
</div>
{%endfor%}
{%if content%}
<p>
  <pre>
    <code class="diff">
      {{content}}
    </code>
  </pre>
<p>
<script>hljs.initHighlightingOnLoad();</script>
{%endif%}
{%endblock%}
