/**
 * Taocode 主导航
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 上午10:05
 */
body{
    background-color: #fafafa;
}

.d-g-wrapper{
    width: 980px;
    margin: 0px auto;
}
.layout::after, .main-wrap::after, .col-sub::after, .col-extra::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.p-p-project-btn{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.d-p-project-praise{
    background: url(http://img02.taobaocdn.com/tps/i2/T1BVlpXqtbXXbE6Pnu-26-200.png) no-repeat;
}
.d-p-project-praise{
    border: 1px solid #e04212;
    background-color: #f94a15;
    color: #fff;
    padding: 4px 10px 4px 20px;
    position: relative;
    float: left;
    margin-top: -6px;
    margin-left: 128px;
    background-position: 3px 2px;
}
.d-p-project-join{
    border: 1px solid #cccccc;
    background-color: #e6e6e6;
    color: #666;
    padding:4px 10px;
    position: relative;
    float: left;
    margin-top: -6px;
    margin-left: 14px;
}
.d-p-project-praise:hover,.d-p-project-join:hover{
    text-decoration: none;
}
/**
 * Taocode 主导航
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 上午10:05
 */
.d-m-main-nav{
   background: #92cd03;
    height: 34px;
    border-color:#86b715 #80b309 #80b309 #80b309;
    border-style: solid;
    border-width: 1px;
}
.d-m-main-nav ul{
    width: 980px;
    margin: 0px auto;
    /*background: url(http://img02.taobaocdn.com/tps/i2/T1TcprXvFaXXbaW9A_-102-3.png) 0px 30px no-repeat;*/
}
.d-m-main-nav li{float: left;margin: 0px 30px;padding-bottom: 1px;}
.d-m-main-nav li a{
    color: #fff;
    display: block;
    padding: 8px 15px 4px 15px;
}
.d-m-main-nav li a.current{
    font-weight: 700;
    border-bottom: 3px solid #fff;
}
.d-m-main-nav li a:hover{
    border-bottom: 3px solid #fff;
    text-decoration: none;
}
.d-m-nav{
    background-color: #fff;
}
.d-m-nav-top{
    width: 980px;
    margin: 0px auto;
    padding: 18px 0px;
}
.d-m-nav-logo{
    background: url(http://img04.taobaocdn.com/tps/i4/T19KVpXxxeXXaQPdI6-112-46.png) no-repeat;
    float: left;
    text-indent: -999em;
    width: 112px;
    height: 46px;
}
.d-m-search{
    float: right;
    position: relative;
}
.d-m-search .search-text{
    height: 25px;
    border: 1px solid #d9d9d9;
    outline: 0;
    color: #333;
    text-indent: 10px;
    width: 198px;
    float: left;
    line-height: 25px;
    border-right: none;
}
.d-m-search .d-m-search-type{
    float: left;
    position: relative;
    height: 25px;
    overflow: hidden;
    background-color: #fff;
    z-index: 1;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    _width: 60px;
}
.d-m-search .d-m-search-type ul{
    border-left: 1px #fff solid;
    z-index: 2;
    background-color: #fff;
}
.d-m-search .hover ul,.d-m-search-type:hover ul{
    border: 1px solid #dadada;
    border-top: none;
    background-color: #fff;
}
.d-m-search .hover,.d-m-search-type:hover{
    overflow: visible;
    margin-right: -1px;
}
.d-m-search .hover .d-m-search-type,.d-m-search-type:hover .d-m-search-type{
    overflow: visible;
}
.d-m-search .d-m-search-type li{
    height: 25px;
    line-height: 25px;
    display: block;
}
.d-m-search .d-m-search-type a{
    margin-top: 0px;
    float: none;
    position: static;
    margin-right: 0px;
    *height: 25px;
    padding: 0px 20px 0px 10px;
    display: block;
    *width: 34px;
}
.d-m-search .d-m-search-type a:hover{
    background-color: #fafafa;
    text-decoration: none;
}
.d-m-search b{
    background: url(http://img02.taobaocdn.com/tps/i2/T1_CNuXu8gXXamQ26b-9-10.png) no-repeat;
    width: 9px;
    height: 6px;
    display: block;
    position: relative;
    overflow: hidden;
    float: left;
    z-index: 159;
    top: 13px;
    left: -77px;
}
.d-m-search a.search-btn{
    background: url(http://img01.taobaocdn.com/tps/i1/T1uO4vXDBcXXcCMlDc-28-20.png) -1px 2px no-repeat;
    width: 20px;
    height: 25px;
    text-indent: -999em;
    position: relative;
    float: left;
    margin-top: 0;
    margin-right: 25px;
    border: 1px solid #d9d9d9;
    padding-right: 6px;
    padding-left: 10px;
    border-left: none;
}
.d-m-search a,.d-m-main-logined{
    float: left;
    position: relative;
    color: #666666;
    margin-right: 13px;
    margin-top: 4px;
}
.d-m-main-logined a{
    float: none;
    color: #57a0de;
    margin-right: 0px;
}
/*footer*/
.d-m-footer{
    background-color: #e6e6e6;
    margin-top: 50px;
    width: 100%;
    padding-bottom: 20px;
}
.d-m-footer-main{
    width: 700px;
    margin: 0px auto;
    padding: 20px 0px;
}
.d-m-footer-main dl{
    float: left;
    margin: 0 45px 0px 25px;
    color: #999;
    line-height: 22px;
    width: 160px;
    display: inline;
}
.d-m-footer-main dl a{
    color: #999;
}
.d-m-footer-main dt{
    color: #666;
}
.d-m-email,.d-m-weibo,.d-m-twitter{
    background: url(http://img04.taobaocdn.com/tps/i4/T1d3VaXz4iXXb7P52e-160-36.png) no-repeat;
    float: left;
    margin-right: 20px;
    text-indent: -999em;
    height: 26px;
    width: 35px;
    margin-top: 9px;
}
.d-m-email{
    background-position: -6px -5px;
}
.d-m-weibo{
    background-position: -58px -5px;
}
.d-m-twitter{
    background-position: -104px -5px;
    margin-right: 0px;
}
.d-m-right{
    text-align: center;
    color: #999999;
    margin-top: 30px;
}/**
 * Taocode 首页
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 上午10:05
 */
.d-p-index{
    margin-top: 20px;
}
.d-p-project-time,.email,.quiz{
    background: url(http://img01.taobaocdn.com/tps/i1/T1DYxqXp4bXXbI5h.j-60-176.png) no-repeat;
}
.d-p-projectquest_num,.d-p-projectpraise_num,.d-p-index-sort,.praised{
   background:url(http://img04.taobaocdn.com/tps/i4/T1YnxqXBXaXXcBiXb4-200-100.png) no-repeat;
}
.d-p-index .col-main{
    float: left;
    width: 730px;
}
/*热门标签*/
.d-p-index-hottaps{
    float: left;
    width: 226px;
    height: 544px;
    margin-right: 20px;
}
.d-p-index-hottaps-box{
    padding: 10px;
    font-family:arial;
}
.d-p-index-hottaps-box span{
    margin-right: 8px;
    white-space: nowrap;
}
.d-p-index-hottaps-box .f14{
    font-size: 14px;
}
.d-p-index-hottaps-box .f18{
    font-size: 18px;
}
.d-p-index-hottaps-box .f24{
    font-size: 24px;
}
.d-p-index-hottaps-box .f28{
    font-size: 28px;

}.d-p-index-hottaps-box .bold{
    font-weight: 700;
}
.d-p-index-hottaps-box .highlight{
    color: #68b318;
}.d-p-index-hottaps-box .black{
    color: #666666;
}
.d-p-index-hottaps-box .grey{
    color: #999999;
}
/*热门项目*/
.d-p-index-hotproject{
    float: left;
    width:476px;
}
.d-p-project-bytime li.current a{
    color: #333;
    font-weight: 700;
}
.d-p-project-bytime li{
    float: left;
    padding:0px 8px;
    background: url(http://img02.taobaocdn.com/tps/i2/T17QJXXEpiXXaI7u_X-3-14.png) center right no-repeat;
}
.d-p-project-bytime a{
    color: #999;
}
.d-p-index-hotproject{
    margin-bottom: 20px;
}
.d-p-index-hotproject,
.d-p-index-newsource{
    width: 476px;
    float: left;
}
/*.d-p-index-newsource ul,.d-p-index-d-p-projectquest_numproject ul.d-p-projectlist{*/
    /*width: 458px;*/
/*}*/
.d-p-projectlist-box{
    width: 476px;overflow: hidden;height:250px;
}
.d-p-index-newsource li,.d-p-index-hotproject ul.d-p-projectlist li{
    color: #999999;
    background: url(http://img02.taobaocdn.com/tps/i2/T1XD4dXxBgXXcTPVrh-460-3.png) center -1px no-repeat;
    line-height: 20px;
    padding: 5px 9px;
    width: 458px;
    cursor: pointer;
}
.d-p-index-hotproject ul.d-p-projectlist li.current{
    background-color: #fafafa;
}
.d-p-index-hotproject ul.d-p-projectlist li.current .d-p-projectquest_num{background-position: -148px 6px;}
.d-p-index-hotproject ul.d-p-projectlist li.current .d-p-projectpraise_num{background-position: -98px 5px;}

.d-p-project-name{
    color: #333;
    float: left;
}
.d-p-project-time,.d-p-projectquest_num,.d-p-projectpraise_num{
    float: right;
}
.d-p-project-time{
    background-position: -2px -93px;
    padding-left: 17px;
}
.d-p-projectquest_num{
    padding-left: 17px;
    background-position: -48px -44px;
    cursor: pointer;

}
.d-p-projectpraise_num{
    padding-left: 17px;
    background-position: -98px -45px;
    cursor: pointer;
}
.praised,.d-p-index-hotproject ul.d-p-projectlist li.current .praised{
    color: #f94a15;
    background-position: -48px 5px
}
.d-p-project-intro{
    /*clear: both;*/
}
.d-p-index-hotproject .d-p-project-intro{
    width: 396px;
    overflow: hidden;
    float: left;
    height: 20px;
}
/**/
.d-p-index .col-sub{
    float: right;
    width: 230px;
}
/*活跃会员*/
.d-p-index-hotmember ul{
    width: 209px;
    margin: 0px auto;
}
.d-p-index-hotmember li{
    border-top: 1px solid #f2f2f2;
    padding: 10px 0px;
    position: relative;
    *display: inline;
    width: 209px;
    cursor: pointer;
}
.d-p-index-memberphoto{
    float: left;
    margin-left: 10px;
}
.d-p-index-memberdata{
    float: left;
    margin-left: 10px;
    display: inline;
    color: #999999;
}
.d-p-index-membername{
    color: #333;
    font-weight: 700;
    margin-bottom: 10px;
    float: left;
    margin-right: 5px;
}
.email{
    float: left;
    width: 14px;
    height: 10px;
    text-indent: -999em;
    background-position: -1px -133px;
    position: relative;
    margin-top: 4px;
    margin-right: 5px;
    overflow: hidden;

}
.quiz{
    float: left;
    width: 14px;
    height: 10px;
    text-indent: -999em;
    background-position: -20px -133px;
    position: relative;
    margin-top: 4px;
    overflow: hidden;
}
.active .email{
    background-position: -1px -118px;
}
.active .quiz{
    background-position: -20px -118px;
}
.d-p-index-memberotherdata{
    clear: both;
}
.active .d-p-index-membername{
    margin-bottom: 0px;
    margin-left: 20px;
    font-weight: normal;
}
.active .d-p-index-memberphoto,.active .d-p-index-memberotherdata{
    display: none;
}
.d-p-index-hotmember .d-p-index-sort{
    position: absolute;
    left: 0;
    top: 3px;
    width: 18px;
    height: 18px;
    background-position:0px -50px ;
    color: #fff;
    text-align: center;
}
.d-p-index-hotmember .d-p-index-sort-top3{
    background-position:0px 1px ;
}
.d-p-index-hotmember .active .d-p-index-sort{
    top: 10px;
}

/*最新提交*/
.d-p-index-projectnew{margin-top: 20px;}
.d-p-index-projectnew ul{
    width: 204px;
    margin: 12px auto;
}
.d-p-index-projectnew li{
    color: #999;
    /*padding-left: 40px;*/
    padding-bottom: 12px;
    /*background: url(http://img01.taobaocdn.com/tps/i1/T19FI7XhxhXXauGWDJ-35-226.png) no-repeat;*/
}
/*.d-p-index-projectnew li.floder{*/
     /*background-position: 0px -4px;*/
 /*}*/
/*.d-p-index-projectnew li.quest{*/
    /*background-position: 0px -79px;*/
/*}*/
/*.d-p-index-projectnew li.submit{*/
    /*background-position: 0px -154px;*/
/*}*/
.d-p-index-project-submitter{
    margin-right: 3px;
    color: #333;
}
.d-p-index-project-time{
    margin-right: 3px;
    color: #92cd03;
}
.d-p-project-where{
    margin-left: 3px;
    color: #333;
    margin-right:3px;
}










.d-p-index-box{
    border: 1px solid #e6e6e6;
    background: #ffffff;
    padding: 1px;
}
.d-p-index-hdright{
    position: relative;
    float: right;
    margin-top: -27px;
    margin-right: 10px;
    color: #999999;
}
.d-p-index-box h2{
    height: 35px;
    line-height: 35px;
    background-color: #f2f2f2;
    color: #333;
    text-indent: 8px;
}