/**
 * Taocode 分页
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 上午10:05
 */
/** 分页样式 Start **/
.pagination a.pg-item, .pagination a.pg-item:link, .pagination a.pg-item:visited,
.pagination a.pg-prev, .pagination a.pg-prev:link, .pagination a.pg-prev:visited,
.pagination a.pg-next, .pagination a.pg-next:link, .pagination a.pg-next:visited {
    color: #333;
}
.pagination a.pg-item:hover, .pagination a.pg-item:active,
.pagination a.pg-prev:hover, .pagination a.pg-prev:active,
.pagination a.pg-next:hover, .pagination a.pg-next:active {
    color: #333;
}
.pagination a.pg-disabled, .pagination .pg-skip,
.pagination a.pg-disabled:link, .pagination a.pg-disabled:hover,
.pagination a.pg-disabled:visited, .pagination a.pg-disabled:active {
    color: #999;
}
.pagination {
    text-align: center;
    margin: 10px 0;
}
.pagination .pg-item,
.pagination .pg-prev, .pagination .pg-next, .pagination .pg-item {
    margin-left: 4px;
    vertical-align: middle;
}
.pagination a:hover {
    text-decoration: none;
}

.pagination .pg-prev, .pagination .pg-next, .pagination .pg-item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border: 1px solid #bfbfbf;
    background-color: #f5f5f5;
    padding: 3px 8px;
}
.pagination a.pg-prev, .pagination a.pg-next, .pagination a.pg-item {
    cursor: pointer;
}

.pagination .pg-prev:hover, .pagination .pg-next:hover {
    border-color: #c7e5ff;
}

.pagination .pg-prev:active, .pagination .pg-next:active {
    border-color: #2f96ff;
}

.pagination .pg-current {
    background-color: #68b318;
    font-weight: bold;
    color: white;
    border-color: #60a616;
}
.pagination a.pg-item:hover, .pagination a.pg-item:active,
.pagination .pg-prev:hover, .pagination .pg-prev:active,
.pagination .pg-next:hover, .pagination .pg-next:active {
    border-color: #60a616;
    background-color: #f5f5f5;
}

.pagination .pg-disabled,
.pagination .pg-disabled:link, .pagination .pg-disabled:hover,
.pagination .pg-disabled:visited, .pagination .pg-disabled:active {
    background-color: #f4f4f4;
    border-color: #ddd;
    cursor: text;
}

.pagination .pg-skip .pg-jump {
    margin-right: 4px;
    padding: 3px 8px;
    border: 1px solid #ddd;

}
/** 分页样式 End **/