{% load i18n %}
{% load short_uri %}
{%for project in projects%}
		<li {%if forloop.counter == 1 %} style="background-image:none;" {% endif %}	>
    	<p class="layout">
        	<a target="_blank" class="d-g-blue d-p-project-name" href="{{project|url}}" title="{{project.name}}">{{project.name|truncatechars:32}}</a>
    		{% if user.is_authenticated %}
    			<a   class="d-p-projectpraise_num praised" href="javascript:void(0);"  onclick="watch_project(this,'{{project.name}}');"  title="赞">{{project.watcher_count|default:0}}</a>
        		<!-- <a class="d-p-projectpraise_num praised" href="javascript:void(0);" onclick="watch_project(this,'tair');" title="赞">274</a> -->
        	{%endif%}
		</p>
    	<p class="layout">
			<span class="d-p-project-intro">{{project.title|truncatechars:60}}</span>

    	</p>
    </li>
{%endfor%}