{% extends "layouts/baseview.html" %}
{% load i18n %}
{% load short_uri %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/user-min.css" />
{% endblock %}
	{% block main-nav %} 

	
	{% endblock %}
	
{%block main-block%}

<div class="d-g-wrapper d-p-user">

	<div class="d-p-user-top">
		<h2 class="d-p-project-name"><a href="/project/explore">{% trans "main" %}</a><span>&nbsp;&nbsp;>&nbsp;&nbsp;</span><a href="{{user|url}}">{{user.name}}</a>
		</h2>

{%if profilenavmenus%}
<ul class="layout d-p-user-tabs">
	  {%for m in profilenavmenus%}
	  {%if m.choice%}
	  <li class="d-p-user-tab">
	    <a href="{{m.uri}}/" class="current">{{m.txt}}</a>
	  </li>
	  {%else%}
	  <li class="d-p-user-tab">
	    <a href="{{m.uri}}/">{{m.txt}}</a>
	  </li>
	  {%endif%}
	  {%endfor%}
</ul>
{%endif%}

<div class="d-p-user-content d-p-usersetting">
 <form action="" method="post">
  {% csrf_token %}
           <dl class="layout">
                <dt>{%trans "old password"%}:</dt>
                <dd>
                    {{form.old_password}}{{form.old_password.errors}}
                </dd>
           </dl>
           <dl class="layout">
                <dt>{%trans "new password"%}:</dt>
                <dd>
                    {{form.new_password1}}{{form.new_password1.errors}}
                </dd>
           </dl>
           <dl class="layout">
                <dt>{%trans "new password again"%}:</dt>
                <dd>
                   {{form.new_password2}}{{form.new_password2.errors}}
                </dd>
           </dl>
           <input class="p-p-project-btn save-btn"  style="margin-left:200px;" type="submit" value="{%trans "change"%}" />
           
      </div>

</div>





{%endblock%}
