/**
 * Taocode ×¢²áºÍµÇÂ¼Ò³
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 ÉÏÎç10:05
 */

.d-p-login,.d-p-register{
    background-color: #6cb421;
    width: 980px;
    margin-top: 10px;
    height: 514px;
}
.d-p-login-box,.d-p-register-box{
    width: 657px;
    background-color: #fff;
    border: 1px solid #7a801c;
    position: relative;
    margin: -440px auto 0px auto;
    padding: 0px 20px;
    -webkit-box-shadow: rgb(179, 179, 179) 0px 2px 16px;
    box-shadow: rgb(179, 179, 179) 0px 2px 16px;
}
.text{
    width: 180px;
}
a.tologin{
    color: #636363;
    display: inline-block;
    *display:inline;
    *zoom:1;
    margin: 9px 20px 0px 20px;
}
a.toregister{
    color: #636363;
    display: inline-block;
    *display:inline;
    *zoom:1;
    margin: 9px 20px 0px 20px;
}
.d-p-login-box .d-p-login-bd{
    padding: 20px 130px;
}
.d-p-register-box .d-p-register-bd{
    padding: 20px;
}
.d-p-login-box td,.d-p-register-box td{
    padding-bottom: 10px;
    height: 40px;
    vertical-align: top;
}
.d-p-login-box td.td1,.d-p-register-box td.td1{
   width: 110px;
   text-align: right;
    font-weight: 700;
    padding-right: 10px;
}
.d-p-register-hd,.d-p-login-hd{
    height: 65px;
    border-bottom: 1px solid #e7e7e7;
    text-indent: -999em;
    background: url(http://img03.taobaocdn.com/tps/i3/T1E_XSXCtgXXafr0zh-50-60.jpg) no-repeat;
}
.d-p-register-hd{
    background-position:306px -18px;
}
.d-p-login-hd{
    background-position: 306px 25px;
}
.btn-register,.btn-login{
    background: url(http://img04.taobaocdn.com/tps/i4/T15XpDXAtiXXX8fsgb-100-200.png) no-repeat;
    width: 91px;
    border: 0;
    height: 36px;
    text-indent: -999em;
    float: left;
    cursor: pointer;
    margin-bottom: 10px;
}
.btn-register{background-position: -4px -61px;margin-left: 250px;}
.btn-login{background-position: -2px -160px;margin-left: 135px;}
.d-p-register a{
    color: #000000;
}
