{% extends "layouts/baseview.html" %}
{% load i18n %}
{% load short_uri %}

{%block title%}{{project.name}} - {{path}}{%endblock%}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/code-min.css" />
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/zenburn.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
</style>
{% endblock %}

{%block main-block%}
<div class="d-p-project-content">
   <div class="d-p-project-svn">
     <span class="d-p-project-svnurl">
       <input type="text" readonly spellcheck="false"  value={{REPOS}}>
     </span>
     <span class="d-p-project-power">
                {% if power == 'all' %}
                <b> {% trans "all"%}</b>
                {% else %}
              	<b> {% trans "want more"%}</b>
                {% endif %}
                {% if project.owner != user%}
		  {% if project.my_status == 3 or project.my_status == 0 %}
                     <a class= "d-p-project-praise p-p-project-btn" href= "javascript:void(0);" onclick="watch_project(this);"> 
		     {{rs}}
		     </a>	
		  {% endif %}
		{%endif%}
      </span>
  </div> 	
<h2 class="d-p-project-root">{{project.name}}/
  {%for p in paths%}
     <a href="{{project|url}}src/{{p.url}}/">{{p.path}}</a>
      <span>/</span>
   {%endfor%}    
</h2>

<div>
    <a href="{{project|url}}logs{{path}}">{% trans "History" %}</a>
    |
    <a href="{{project|url}}log/{{rev}}{{path}}">r{{rev}}</a>
    |
    <em>{{mtime|utc2loc}}</em>
    |
    <a href="{{project|url}}src{{path}}?orig">{% trans "Download" %}</a>
</div>
  <p>
    {%if content%}
    <pre><code class="{{mimetype|default:'java'}}">{{content}}
    </code>
    </pre>
    {%endif%}
    {%if imgurl%}
    <img src="{{imgurl}}"/>
    {%endif%}

    {%if srcurl%}
    <a href="{{srcurl}}">{{path}}</a>
    {%endif%}

    
  </p>
</div>
<script>hljs.initHighlightingOnLoad();</script>
{%endblock%}

