/**
 * Taocode 最新开源  最新更新
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 上午10:05
 */
.d-p-project-name{
    margin: 10px 0;
}
.d-p-project-name a {
    color: #333;
}
.d-p-newopen table,.d-p-update table{
    width: 978px;
    border:1px solid #ebebeb;
    border-bottom: none;
    margin-top: 20px;
    background-color: #fff;
}
.d-p-newopen td,.d-p-update td{
    padding: 20px;
    border-bottom:1px solid #ebebeb;
}
.d-p-newopen .d-p-projectintro,.d-p-update .d-p-projectintro{
    color: #666666;
}
.d-p-newopen .d-p-projectname,.d-p-update .d-p-projectname,.d-p-update .d-p-project-writer{
    color: #333333;
    font-weight: 700;
}
.d-p-newopen table .hover td,.d-p-update table .hover td{
    background-color: #fafafa;
    cursor: pointer;
}
/*最新开源*/
.d-p-newopen .d-p-project-others .d-p-project-lang{
    margin-left: 60px;
    float: none;
    margin-right: 60px;
}
.d-p-newopen .d-p-project-others{
    color: #b3b3b3;
}
.d-p-newopen .d-p-project-others a{
    color: #349fea
}
.d-p-newopen .d-p-project-writer{
    margin-right: 15px;
}
.d-p-newopen .td1{
    width:525px;
}
.d-p-newopen .hover .td1{
    background: url(http://img04.taobaocdn.com/tps/i4/T1A9pvXpXcXXbIPdPr-2-2.png) #fafafa repeat-y;
}

.d-p-newopen .no_language{
    background: url(http://img04.taobaocdn.com/tps/i4/T1kZNVXBRaXXcSSk_2-453-33.jpg) 112px 41px no-repeat;
    margin-top: 20px;
    height: 100px;
    text-indent: -999em;
}
/*最近更新*/
.d-p-update .d-p-projecttime{
    color: #999999;
    margin-left: 30px;
}
.d-p-update .d-p-project-writer{
    margin-right: 10px;
}
.d-p-update .d-p-projectname{
    margin-left: 10px;
}
.d-p-update .hover td{
    background: url(http://img04.taobaocdn.com/tps/i4/T1A9pvXpXcXXbIPdPr-2-2.png) #fafafa repeat-y;
}
/*语言分类*/
.d-p-languagearts .col-main{
    width:780px;
    float: right;

}
.d-p-languagearts .col-main table{
    width: 778px;
}
.d-p-languagearts .col-sub{
    float: left;
    width: 178px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    margin-top: 20px;
}
.d-p-languagesearch{
    background-color: #f2f2f2;
    padding: 10px;
}
.d-p-languagesearch .search-text{
    border: 1px solid #bfbfbf;
    color: #bfbfbf;
    height: 23px;
    line-height: 23px;
    text-indent: 10px;
    width: 132px;
    padding-right: 25px;
}
.d-p-languagesearch .search-btn{
    background: url(http://img04.taobaocdn.com/tps/i4/T1CLA9XnFiXXcu5FDa-20-20.png) no-repeat;
    width: 20px;
    height: 20px;
    text-indent: -999em;
    position: relative;
    display: block;
    margin-top: -22px;
    left: 136px;
}
.d-p-languagelist{
    text-indent: 30px;
    line-height: 27px;
    padding: 20px 30px;
}
.d-p-languagelist a{
    color: #666666;
    white-space: nowrap;

}
.d-p-languagelist .current a{
    color: #68b318;
    font-weight: 700;
}
.d-p-languagelist a:hover{
    color: #68b318;
    text-decoration: none;
}

/*搜索结果*/
.d-p-searchuserlist{
    margin-right: -20px;
}
.d-p-searchuserlist li {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
.d-p-searchuserlist span {
    display: block;
    text-align: center;
    color: #333;
    padding: 2px 0;
    width: 105px;
    height: 20px;
    overflow: hidden;
}
.d-p-searchuserlist a:hover{
    text-decoration: none;
}

#container{
    margin-top: 70px;
}

.d-p-code .no-result{
    background: url(http://img03.taobaocdn.com/tps/i3/T1MgxVXuRaXXcwNQP1-450-50.jpg) no-repeat;
    text-indent: -999em;
    height: 50px;
}