<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n %}
{% load short_uri %}
<html>
  	<head>
    <title>{%block title%}taobao{%endblock%} - Taocode</title>
    {% block stylesheet %}
    <link rel="stylesheet" href="http://a.tbcdn.cn/p/global/1.0/global-min.css" />
    {% endblock %}
	<script src="http://a.tbcdn.cn/??s/kissy/1.2.0/kissy.js,p/global/1.0/global.js"></script>
    {% block extrastyle %}{% endblock %}
    {% block extrascript %}{% endblock %}

     




  	</head>
  	<body>
  	<link rel="stylesheet" href="/css/register.css" />
  	<link rel="stylesheet" href="http://fed.ued.taobao.net/u/gaozhan/Taocode/assets/code.css" />
  <div class="d-m-nav">
    <div class="d-m-nav-top layout">
          <a class="d-m-nav-logo" href="">Taocode</a>
          <div class="d-m-search">
			{% include "layouts/user-nav.html" %}
          </div>
    </div>

  	<div class="d-m-main-nav">
        <ul class="layout">
            <li data-index="1"><a href="" class="current">{%trans "gailan"%}</a></li>
            <li data-index="2"><a href="" class="d-m-main-nav-shop">{%trans "the latest open source"%}</a></li>
            <li data-index="3"><a href="" class="d-m-main-nav-event">{%trans "the Popular items"%}</a></li>
            <li data-index="4"><a href="" class="d-m-main-nav-designer">{%trans "the last updated"%}</a></li>
            <li data-index="5"><a href="" class="d-m-main-nav-toy">{%trans "Language Classification"%}</a></li>
            <li data-index="6"><a href="" class="d-m-main-nav-toy">{%trans "Taobao open source project"%}</a></li>
        </ul>
     </div>

	{% block pagename-nav%}
	<div class="d-g-wrapper">
		<div class="d-p-project-top">
			<h2 class="d-p-project-name">
				    {%if project%}
				    <a href="">{% trans "main" %}</a><span>&nbsp;&nbsp;>&nbsp;&nbsp;</span> <a href="{{project.owner|url}}">{{project.owner}}</a> / {{project.name}}</h2>
			   		<span class="d-p-project-lang">{% trans "projectLanguage"%}:{{project.language}}</span>
				    {%endif%}


			  </h2>

	{%endblock%}

    {% block main-nav %}
 
	{% include "layouts/main-nav.html" %}

	{% endblock %}
	
	 {% block main-block %}	 
	 {% endblock %}


      {%block ready_js%}
      
      
<script type="text/javascript">
KISSY.use("dom,event,ua,sizzle", function (S,D,E,U) {
    if(U.ie==6){
        E.on(".d-m-search-type","mouseenter mouseleave",function(e){
            D.toggleClass(this,"hover");
        });    }
    E.on(".d-m-search-type li","click",function(e){
        D.prepend(this,".d-m-search-type-list");
        D.val("#type", D.attr(this,"data-type"));
    });
});
</script>

      {%endblock%}
      
	<div class="d-m-footer layout">
     <div class="d-m-footer-main layout">
            <dl>
                <dt>{%trans "About Taobao"%}</dt>
                <dd><a href="">{%trans "About Us"%}</a></dd>
                <dd><a href="">{%trans "Open-source web site"%}</a></dd>
            </dl>
             <dl>
                 <dt>{%trans "help center"%}</dt>
                 <dd><a href="">{%trans "How to create a project"%}</a></dd>
                 <dd><a href="">{%trans "How to become a project member"%}</a></dd>
             </dl>
             <dl>
                 <dt>{%trans "Contact Us"%}</dt>
                 <dd>
                     <a class="d-m-email" href="">{%trans "Email"%}</a>
                     <a class="d-m-weibo" href="">{%trans "weibo"%}</a>
                     <a class="d-m-twitter" href="">{%trans "Email"%}</a>
                 </dd>
             </dl>
     </div>
     <p class="d-m-right">@&nbsp;&nbsp;2012&nbsp;&nbsp;Alibaba&nbsp;&nbsp;Inc.&nbsp;&nbsp;All&nbsp;&nbsp;rights&nbsp;&nbsp;resvered.</p>
	</div>
	
	</body>
</html>
