{% load i18n %}
{% load short_uri %}


<form id="search" action="/search/" method="POST">
	
	<input id="type" name="type" type="hidden" value="project" />
	<input id="q" name="q" type="text" value="" placeholder='{%trans "pick something" %}' class="search-text" ></input>
	
	   		  <span class="d-m-search-type">
                   <ul class="d-m-search-type-list">
                   			<li data-type="project" ><a href="javascript:void(0);">{%trans "s_project"%}</a></li>
	                   		<li data-type="user" ><a href="javascript:void(0);">{%trans "s_user"%}</a></li>
	                   			
	                   		<li data-type="language" ><a href="javascript:void(0);">{%trans "s_language"%}</a></li>
                   </ul>
              </span>
              	
	
    <a id="btn-search" href="javascript:search.submit()" class="search-btn">{%trans "search"%}</a><b></b>

{%csrf_token%}
{% if user.is_authenticated %}
			  <span class="d-m-main-logined">Hi,<a href="/my">{{user.name}}</a>
			  {%trans "message"%}<a href="/msg/" id='msg_count'>(0)</a>
			  </span>
              <!--   <a href="/p/taobaocode/wiki/SiteHelp/">{%trans "help"%}</a>	 -->
              <a href="/logout/">{%trans "logout"%}</a>

{% else %}
			  <a href="/login/">{%trans "login"%}</a>
              <a href="/register/">{%trans "register"%}</a>
            <!--   <a href="/p/taobaocode/wiki/SiteHelp/">{%trans "help"%}</a> -->



    
{% endif %}


</form>
