{% extends "layouts/baseview.html" %}
{% load i18n %}
{% load short_uri %}

{%block title%}{{pagename}}{%endblock%}

{% block stylesheet %}
<link rel="stylesheet" href="/css/code-min.css" />
{% endblock %}

{%block main-block%}
<div class="d-p-project-content">
<table class="d-p-all-wiki d-p-project-files">
  <tr>
    <th width="250" class="d-p-project-colfirst">{%trans "page name"%}</th>
    <th width="210">{%trans "author"%}</th>
    <th width="183">{%trans "last author"%}</th>
    <th width="190">{%trans "create time"%}</th>
    <th width="85">{%trans "modify time"%}</th>    
  </tr>

  {%for wiki in wikis%}
  <tr>
    <td class="d-p-project-colfirst"><a href="{{wiki|url}}">{{wiki.path}}</a></td>
    <td><a href="{{wiki.user|url}}" class="username">{{wiki.user}}</a></td>
    <td><a href="{{wiki.last_user|url}}" class="username">{{wiki.last_user}}</a></td>
    <td>{{wiki.ctime}}</td>
    <td>{{wiki.mtime}}</td>    
  </tr>
  {%endfor%}
</table>
</div>
{%endblock%}

