/**
 * Taocode 主导航
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 上午10:05
 */
body{
    /*background-color: #fafafa;*/
}
a{
    outline: 0px;
    color:#57a0de;
}
.d-g-orange{
    color: #f94a15 !important;
    font-weight: 700;
}
.d-g-blue{
    color: #68b318 !important;
    font-weight: 700;

}
.d-g-wrapper{
    width: 980px;
    margin: 0px auto;
}
.layout::after, .main-wrap::after, .col-sub::after, .col-extra::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.p-p-project-btn{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.p-p-project-btn:hover{
    text-decoration: none;
}
.d-p-project-praise{
    background: url(http://img02.taobaocdn.com/tps/i2/T1BVlpXqtbXXbE6Pnu-26-200.png) no-repeat;
}
.d-p-project-praise{
    border: 1px solid #e04212;
    color: #fff;
    padding: 4px 10px 4px 20px;
    position: relative;
    float: left;
    margin-top: -6px;
    margin-left: 128px;
    background: url(http://img04.taobaocdn.com/tps/i4/T1DaR0XppbXXaHB7bX-16-19.png) #f94a15 3px 2px no-repeat;
}

.d-p-project-praise:hover{
    background-color: #e1410d;
}
.d-p-praised,.d-p-praised:hover{
    background: url(http://img03.taobaocdn.com/tps/i3/T1Vu40XDtXXXcmZd7.-12-12.png) 6px 7px #989898 no-repeat;
    border: 1px solid #808080;
}
.d-p-project-join{
    border: 1px solid #cccccc;
    background-color: #e6e6e6;
    color: #666;
    padding:4px 10px;
    position: relative;
    float: left;
    margin-top: -6px;
    margin-left: 14px;
}
.d-p-project-praise:hover,.d-p-project-join:hover{
    text-decoration: none;
}
.text{
    border: 1px solid #bfbfbf;
    height: 18px;
    padding: 5px 0px 5px 10px;
    width: 276px;
    color: #999999;
}

.tender{
    border:2px solid #7a7a7a;
    outline: none;
}
.title{
    height: 31px;
    background-color: #ededed;
    border-bottom: 1px solid #d9d9d9;
    line-height: 31px;
    padding-left: 10px;
}
.title b{}
.title .close{
    float: right;
    width: 10px;
    height: 10px;
    text-indent: -999em;
    background: url(http://img03.taobaocdn.com/tps/i3/T1sE8OXxpbXXc9v57_-10-10.png) no-repeat;
    margin-right: 10px;
    margin-top: 10px;
}
.tender .content{
    background-color: #fff;
    padding: 20px;
}
.content .hot_tag{
    color: #3ba0e7;
    margin-right: 3px;
}
.ks-overlay {
    position:absolute;
    left:-9999px;
    top:-9999px;
}
.ks-ext-mask {
    background-color: #000;
    opacity: 0.2;
    filter: alpha(opacity = 20);
}
.sendmail{
    background-color: #fd7e32;
    color: #fff;
    float: right;
    width: 66px;
    padding: 3px 0;
    border: 1px solid #e56f29;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
}
.button,.button:hover{
    background-color: #fd7e32;
    color: #fff;
    width: 66px;
    padding: 5px 8px 5px 8px;
    border: 1px solid #e56f29;
    text-align: center;
    margin-top: 10px;
    margin-right: 30px;
}
.confirm-box{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    margin-top: -120px;
    margin-left: -340px;
    background: #fff;
    z-index: 1000001;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.40);
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.40);
    border: 1px solid #dedede;
}
.confirm-box h1{
    padding:20px 0px 20px 0px;
}
.confirm-overlay{
    position: absolute;
}
.confirm-overlay .confirm-box{
    margin-top: -130px;
    margin-left: -225px;
}
.errorlist{color:#f84913;}/**
 * Taocode 主导航
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 上午10:05
 */
.d-m-main-nav{
    float: left;
    margin-top: 15px;
    margin-left: 50px;
    _display: inline;
}
.d-m-main-nav a{
    color: #666666;
}
.d-m-main-nav a:hover{
    color: #000;
    text-decoration: none;
}
.d-m-main-nav li{
    float: left;
    padding:0px 20px;
    background: url(http://img04.taobaocdn.com/tps/i4/T1o9BSXB0dXXb75u_X-3-14.jpg) 0px 3px no-repeat;
}
.d-m-main-nav li.first-nav{
    background:none;
}
.d-m-sub-nav{
   background: #68b318;
    height: 36px;
    width: 980px;
    margin: 0px auto;
}
.d-m-sub-nav ul{
    width: 980px;
    margin: 0px auto;
    /*background: url(http://img02.taobaocdn.com/tps/i2/T1TcprXvFaXXbaW9A_-102-3.png) 0px 30px no-repeat;*/
}
.d-m-sub-nav li{float: left;margin: 0px 30px;padding-bottom: 1px;}
.d-m-sub-nav li a{
    color: #fff;
    display: block;
    padding: 8px 15px 4px 15px;
}
.d-m-sub-nav li a.current{
    font-weight: 700;
    border-bottom: 3px solid #fff;
}
.d-m-sub-nav li a:hover{
    border-bottom: 3px solid #fff;
    text-decoration: none;
}
.d-m-nav{
    background-color: #fff;
}
.d-m-nav-top{
    width: 980px;
    margin: 0px auto;
    padding: 18px 0px;
}
.d-m-nav-logo {
    background: url(http://img01.taobaocdn.com/tps/i1/T1sbl1XApfXXXZm037-115-27.png) 0px 14px no-repeat;
    float: left;
    text-indent: -999em;
    width: 120px;
    height: 54px;
}

.d-m-nav-crp{
    background: url(/img/crp-logo.png) 0px 11px no-repeat;
    float: left;
    text-indent: -999em;
    width: 142px;
    height: 54px;
}

.d-m-search{
    float: right;
    position: relative;
    margin-top:10px;
    width: 520px;
}
.d-m-search .search-text{
    height: 23px;
    border: 1px solid #d9d9d9;
    outline: 0;
    color: #333;
    text-indent: 10px;
    width: 198px;
    float: left;
    line-height: 23px;
    border-right: none;
    padding: 1px 0px;
}
.d-m-search .d-m-search-type{
    float: left;
    position: relative;
    height: 25px;
    overflow: hidden;
    background-color: #fff;
    z-index: 1;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    _width: 60px;
}
.d-m-search .d-m-search-type ul{
    border-left: 1px #fff solid;
    z-index: 2;
    background-color: #fff;
}
.d-m-search .hover ul,.d-m-search-type:hover ul{
    border: 1px solid #dadada;
    border-top: none;
    background-color: #fff;
}
.d-m-search .hover,.d-m-search-type:hover{
    overflow: visible;
    margin-right: -1px;
}
.d-m-search .hover .d-m-search-type,.d-m-search-type:hover .d-m-search-type{
    overflow: visible;
}
.d-m-search .d-m-search-type li{
    height: 25px;
    line-height: 25px;
    display: block;
}
.d-m-search .d-m-search-type a{
    margin-top: 0px;
    float: none;
    position: static;
    margin-right: 0px;
    *height: 25px;
    padding: 0px 20px 0px 10px;
    display: block;
    *width: 34px;
}
.d-m-search .d-m-search-type a:hover{
    background-color: #fafafa;
    text-decoration: none;
}
.d-m-search b{
    background: url(http://img02.taobaocdn.com/tps/i2/T1_CNuXu8gXXamQ26b-9-10.png) no-repeat;
    width: 9px;
    height: 6px;
    display: block;
    position: relative;
    overflow: hidden;
    float: left;
    z-index: 159;
    top: 13px;
    left: -77px;
}
.d-m-search a.search-btn{
    background: url(http://img01.taobaocdn.com/tps/i1/T1uO4vXDBcXXcCMlDc-28-20.png) -1px 2px no-repeat;
    width: 20px;
    height: 25px;
    text-indent: -999em;
    position: relative;
    float: left;
    margin-top: 0;
    margin-right: 25px;
    border: 1px solid #d9d9d9;
    padding-right: 6px;
    padding-left: 10px;
    border-left: none;
}
.d-m-search a,.d-m-main-logined{
    float: left;
    position: relative;
    color: #666666;
    margin-right: 13px;
    margin-top: 4px;
}
.d-m-main-logined a{
    float: none;
    color: #57a0de;
    margin-right: 0px;
}
/*footer*/
.d-m-footer{
    background-color: #e6e6e6;
    margin-top: 50px;
    width: 100%;
    padding-bottom: 20px;
}
.d-m-footer-main{
    width: 700px;
    margin: 0px auto;
    padding: 20px 0px;
}
.d-m-footer-main dl{
    float: left;
    margin: 0 45px 0px 25px;
    color: #999;
    line-height: 22px;
    width: 160px;
    display: inline;
}
.d-m-footer-main dl a{
    color: #999;
}
.d-m-footer-main dt{
    color: #666;
}
.d-m-email,.d-m-weibo,.d-m-twitter{
    background: url(http://img04.taobaocdn.com/tps/i4/T1d3VaXz4iXXb7P52e-160-36.png) no-repeat;
    float: left;
    margin-right: 20px;
    text-indent: -999em;
    height: 26px;
    width: 35px;
    margin-top: 9px;
}
.d-m-email{
    background-position: -6px -5px;
}
.d-m-weibo{
    background-position: -58px -5px;
}
.d-m-twitter{
    background-position: -104px -5px;
    margin-right: 0px;
}
.d-m-right{
    text-align: center;
    color: #999999;
    margin-top: 30px;
}/**
 * Taocode 注册和登录页
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 上午10:05
 */

.d-p-login,.d-p-register{
    background-color: #6cb421;
    width: 980px;
    margin-top: 10px;
    height: 514px;
}
.d-p-login-box,.d-p-register-box{
    width: 657px;
    background-color: #fff;
    border: 1px solid #7a801c;
    position: relative;
    margin: -440px auto 0px auto;
    padding: 0px 20px;
    -webkit-box-shadow: rgb(179, 179, 179) 0px 2px 16px;
    box-shadow: rgb(179, 179, 179) 0px 2px 16px;
}
.text{
    width: 180px;
}
a.tologin{
    color: #636363;
    display: inline-block;
    *display:inline;
    *zoom:1;
    margin: 9px 20px 0px 20px;
}
a.toregister{
    color: #636363;
    display: inline-block;
    *display:inline;
    *zoom:1;
    margin: 9px 20px 0px 20px;
}
.d-p-login-box .d-p-login-bd{
    padding: 20px 130px;
}
.d-p-register-box .d-p-register-bd{
    padding: 20px;
}
.d-p-login-box td,.d-p-register-box td{
    padding-bottom: 10px;
    height: 40px;
    vertical-align: top;
}
.d-p-login-box td.td1,.d-p-register-box td.td1{
   width: 110px;
   text-align: right;
    font-weight: 700;
    padding-right: 10px;
}
.d-p-register-hd,.d-p-login-hd{
    height: 65px;
    border-bottom: 1px solid #e7e7e7;
    text-indent: -999em;
    background: url(http://img03.taobaocdn.com/tps/i3/T1E_XSXCtgXXafr0zh-50-60.jpg) no-repeat;
}
.d-p-register-hd{
    background-position:306px -18px;
}
.d-p-login-hd{
    background-position: 306px 25px;
}
.btn-register,.btn-login{
    background: url(http://img04.taobaocdn.com/tps/i4/T15XpDXAtiXXX8fsgb-100-200.png) no-repeat;
    width: 91px;
    border: 0;
    height: 36px;
    text-indent: -999em;
    float: left;
    cursor: pointer;
    margin-bottom: 10px;
}
.btn-register{background-position: -4px -61px;margin-left: 250px;}
.btn-login{background-position: -2px -160px;margin-left: 135px;}
.d-p-register a{
    color: #000000;
}
