/**
 * Taocode 首页
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 上午10:05
 */
.d-p-index{
    margin-top: 20px;
}
.d-p-project-time,.email,.quiz{
    background: url(http://img01.taobaocdn.com/tps/i1/T1DYxqXp4bXXbI5h.j-60-176.png) no-repeat;
}
.d-p-projectquest_num,.d-p-projectpraise_num,.d-p-index-sort,.praised{
   background:url(http://img04.taobaocdn.com/tps/i4/T1YnxqXBXaXXcBiXb4-200-100.png) no-repeat;
}
.d-p-index .col-main{
    float: left;
    width: 730px;
}
/*热门标签*/
.d-p-index-hottaps{
    float: left;
    width: 226px;
    height: 585px;
    margin-right: 20px;
}
.d-p-index-hottaps-box{
    padding: 10px;
    font-family:arial;
}
.d-p-index-hottaps-box span{
    margin-right: 8px;
    white-space: nowrap;
}
.d-p-index-hottaps-box .f14{
    font-size: 14px;
}
.d-p-index-hottaps-box .f18{
    font-size: 18px;
}
.d-p-index-hottaps-box .f24{
    font-size: 24px;
}
.d-p-index-hottaps-box .f28{
    font-size: 28px;

}.d-p-index-hottaps-box .bold{
    font-weight: 700;
}
.d-p-index-hottaps-box .highlight{
    color: #68b318;
}
.d-p-index-hottaps-box .black{
    color: #666666;
}
.d-p-index-hottaps-box .grey{
    color: #999999;
}
.d-p-index-hottaps-box a:hover{
    text-decoration: none;
}
/*lisnhi*/
.d-p-index-hottaps .d-p-index-hotproject ul.d-p-projectlist li{
    width: 209px;
}
.d-p-index-hottaps .d-p-index-hotproject .d-p-project-intro{
    width: 210px;
}

.d-p-index-hottaps .d-p-index-hotproject .d-p-project-name{
    width:210px;
    overflow: hidden;
    float: left;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
/*lishi*/
/*热门项目*/
.d-p-index-hotproject{
    float: left;
    width:476px;
}
.d-p-project-bytime li.current a{
    color: #333;
    font-weight: 700;
}
.d-p-project-bytime li{
    float: left;
    padding:0px 8px;
    background: url(http://img02.taobaocdn.com/tps/i2/T17QJXXEpiXXaI7u_X-3-14.png) center right no-repeat;
}
.d-p-project-bytime a{
    color: #999;
}
.d-p-index-hotproject{
    margin-bottom: 20px;
}
.d-p-index-hotproject,
.d-p-index-newsource{
    width: 476px;
    float: left;
}
/*.d-p-index-newsource ul,.d-p-index-d-p-projectquest_numproject ul.d-p-projectlist{*/
    /*width: 458px;*/
/*}*/
.d-p-projectlist-box{
    width: 476px;overflow: hidden;height:250px;
}
.d-p-index-newsource li,.d-p-index-hotproject ul.d-p-projectlist li{
    color: #999999;
    background: url(http://img02.taobaocdn.com/tps/i2/T1XD4dXxBgXXcTPVrh-460-3.png) center -1px no-repeat;
    line-height: 20px;
    padding: 5px 9px;
    width: 458px;
    cursor: pointer;
}
.d-p-index-hotproject ul.d-p-projectlist li.current{
    background-color: #fafafa;
}
.d-p-index-hotproject ul.d-p-projectlist li.current .d-p-projectquest_num{background-position: -148px 6px;}
.d-p-index-hotproject ul.d-p-projectlist li.current .d-p-projectpraise_num{background-position: -98px 5px;}

.d-p-project-name{
    color: #333;
    float: left;
}
.d-p-project-time,.d-p-projectquest_num,.d-p-projectpraise_num{
    float: right;
}
.d-p-project-time{
    background-position: -2px -93px;
    padding-left: 17px;
}
.d-p-projectquest_num{
    padding-left: 17px;
    background-position: -48px -44px;
    cursor: pointer;
    color: #999;
}
.d-p-projectpraise_num{
    padding-left: 17px;
    background-position: -98px -45px;
    cursor: pointer;
    color: #999;
}
.praised,.d-p-index-hotproject ul.d-p-projectlist li.current .praised{
    color: #f94a15;
    background-position: -48px 5px
}
.d-p-project-intro{
    /*clear: both;*/
}
.d-p-index-hotproject .d-p-project-intro{
    width: 396px;
    overflow: hidden;
    float: left;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
/**/
.d-p-index .col-sub{
    float: right;
    width: 230px;
}
/*活跃会员*/
.d-p-index-hotmember ul{
    width: 209px;
    margin: 0px auto;
}
.d-p-index-hotmember li{
    border-top: 1px solid #f2f2f2;
    padding: 10px 0px;
    position: relative;
    *display: inline;
    width: 209px;
    cursor: pointer;
}
.d-p-index-memberphoto{
    float: left;
    margin-left: 10px;
}
.d-p-index-memberdata{
    float: left;
    margin-left: 10px;
    display: inline;
    color: #999999;
}
.d-p-index-membername{
    color: #333;
    font-weight: 700;
    margin-bottom: 10px;
    float: left;
    margin-right: 5px;
}
.email{
    float: left;
    width: 14px;
    height: 10px;
    text-indent: -999em;
    background-position: -1px -133px;
    position: relative;
    margin-top: 4px;
    margin-right: 5px;
    overflow: hidden;

}
.quiz{
    float: left;
    width: 14px;
    height: 10px;
    text-indent: -999em;
    background-position: -20px -133px;
    position: relative;
    margin-top: 4px;
    overflow: hidden;
}
.active .email{
    background-position: -1px -118px;
}
.active .quiz{
    background-position: -20px -118px;
}
.d-p-index-memberotherdata{
    clear: both;
}
.d-p-index-memberotherdata p{
    width: 120px;
    height: 18px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
.active .d-p-index-membername{
    margin-bottom: 0px;
    margin-left: 20px;
    font-weight: normal;
}
.active .d-p-index-memberphoto,.active .d-p-index-memberotherdata{
    display: none;
}
.d-p-index-hotmember .d-p-index-sort{
    position: absolute;
    left: 0;
    top: 3px;
    width: 18px;
    height: 18px;
    background-position:0px 1px ;
    color: #fff;
    text-align: center;
}
/*.d-p-index-hotmember .d-p-index-sort-top3{*/
    /*background-position:0px 1px ;*/
/*}*/
.d-p-index-hotmember .active .d-p-index-sort{
    top: 10px;
    background-position:0px -50px ;
}

/*最新提交*/
.d-p-index-projectnew{margin-top: 20px;}
.d-p-index-projectnew ul{
    width: 204px;
    margin: 12px auto;
}
.d-p-index-projectnew li{
    color: #999;
    /*padding-left: 40px;*/
    padding-bottom: 12px;
    /*background: url(http://img01.taobaocdn.com/tps/i1/T19FI7XhxhXXauGWDJ-35-226.png) no-repeat;*/
}
/*.d-p-index-projectnew li.floder{*/
     /*background-position: 0px -4px;*/
 /*}*/
/*.d-p-index-projectnew li.quest{*/
    /*background-position: 0px -79px;*/
/*}*/
/*.d-p-index-projectnew li.submit{*/
    /*background-position: 0px -154px;*/
/*}*/
.d-p-index-project-submitter{
    margin-right: 3px;
    color: #333;
}
.d-p-index-project-time{
    margin-right: 3px;
    color: #92cd03;
}
.d-p-project-where{
    margin-left: 3px;
    color: #333;
    margin-right:3px;
}










.d-p-index-box{
    border: 1px solid #e6e6e6;
    background: #ffffff;
    padding: 1px;
}
.d-p-index-hdright{
    position: relative;
    float: right;
    margin-top: -27px;
    margin-right: 10px;
    color: #999999;
}
.d-p-index-box h2{
    height: 35px;
    line-height: 35px;
    background-color: #f2f2f2;
    color: #333;
    text-indent: 8px;
}