{%extends "layouts/baseview.html"%}
{%load i18n %}
{%load short_uri %}

{% block extrascript %}

{% endblock %}

{% block stylesheet %}
<link rel= "stylesheet" href= "/css/register1-min.css?ver=2" />
{% endblock %}

{%block ready_js%}

{%endblock%}


{%block main-block%}

<div class="d-g-wrapper d-p-register">
<a><img src="http://img02.taobaocdn.com/tps/i2/T1kptUXqFbXXcLtTI3-980-514.jpg"></a>

	<div class="d-p-register-box">
		<h2 class="d-p-register-hd">{%trans "register"%}</h2>
		<div class="layout d-p-register-bd">
		<form id="new-user-form" action="" method="post">
		  {% csrf_token %}
		  
		  <table id='regitable'>
		
		    	 <tr>
			    	 <td class="td1">{%trans "r_username"%}:</td><td>{{ form.name }} {{form.name.errors}}</td>
			    	 <td class="td1">{%trans "r_email"%}:</td><td>{{form.email}}{{form.email.errors}}</td>
			    	 <!-- <td class="td1">{%trans "r_title"%}:</td><td>{{form.title}}{{form.title.errors}}</td> -->
			    <!--	 <td class="td1">{%trans "r_phone"%}:</td><td>{{form.phone}}{{form.phone.errors}}</td>-->
		    	 </tr>
 		    	 <tr>
			    	 <td class="td1">{%trans "r_password_0"%}:</td><td>{{ form.password_0 }} {{form.password_0.errors}}</td>
			    	 <td class="td1">{%trans "r_password_1"%}:</td><td>{{ form.password_1 }} {{form.password_1.errors}}</td>
		    	 </tr>
		    	 <tr width="617px" higth="25px" onmouseover="document.getElementById('aaa').style.color='red'" onmouseout="document.getElementById('aaa').style.color=''">
			    	 <td class="td1"><a id="aaa" href ="http://www.taobao.com/about/copyright.php " target="_blank" >{%trans "r_accept"%}</a>:</td><td>{{ form.accept }} {{form.accept.errors}}</td>
		    	 </tr>
			    		    	 
		    	 
          </table>
		    	 
			
		  </table>
		  
		    <a class="J_Submit btn-register" href="javascript:;" onclick="javascript:$('#new-user-form').submit()">register</a>
		  	<a href="/login/" class="tologin">{%trans "already hava account"%}</a>
		  	
		</form>
		</div>
	</div>



</div>



{%endblock%}
