/**
 * Taocode 最新开源
 * @author: Author: wb-gaozhan
 * Time: 13-2-19 上午10:05
 */
.d-p-newopen table{
    width: 978px;
    border:1px solid #ebebeb;
    border-bottom: none;
    margin-top: 20px;
}
.d-p-newopen td{
    padding: 20px;
    border-bottom:1px solid #ebebeb;
}
.d-p-newopen .d-p-projectintro{
    color: #666666;
}
.d-p-newopen .d-p-projectname{
    color: #333333;
    font-weight: 700;
}
.d-p-newopen .d-p-project-others{
    color: #b3b3b3;
}
.d-p-newopen .d-p-project-others a{
    color: #349fea
}
.d-p-newopen .d-p-project-writer{
    margin-right: 15px;
}
.d-p-newopen .d-p-project-others .d-p-project-lang{
    margin-left: 60px;
    float: none;
    margin-right: 60px;
}
.d-p-newopen table .hover td{
    background-color: #fafafa;
    cursor: pointer;
}
.d-p-newopen .td1{
    width:525px;
}
.d-p-newopen .hover .td1{
    background: url(http://img04.taobaocdn.com/tps/i4/T1A9pvXpXcXXbIPdPr-2-2.png) #fafafa repeat-y;
}