{% extends "layouts/baseview.html" %}
{% load i18n %}
{% load short_uri %}

{%block title%}{{project.name}} - {{path}}{%endblock%}

{% block extrascript %}
<script type="text/javascript">
function watch_project(o) {
q_get('prj/watch/{{project.name}}', {}, function(r){
$(o).text(r[0]);
$('#watch_text').text(r[1]);
});

}
</script>
{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="/css/code-min.css?ver=2" />
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/zenburn.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>

{% endblock %}

{%block pagename%}
<a class="username" href="{{project.owner|url}}">{{project.owner}}</a> / {{pagename}}
{%endblock%}

{%block main-block%}
<div class="d-p-project-content">
            <div class="d-p-project-svn">
                <span class="d-p-project-svnurl">
                    <input type="text" readonly spellcheck="false"  value={{REPOS}}>
                </span>
                <span class="d-p-project-power">
                {% if power == 'all' %}
                
                <b> {% trans "all"%}</b>
                
                {% else %}
                
               	<b> {% trans "want more"%}</b>
                
                {% endif %}
                
                {% if project.owner != user%}
                
                	{% if project.my_status == 3 or project.my_status == 0 %}
                	
					<a class= "d-p-project-praise p-p-project-btn" href= "javascript:void(0);" onclick="watch_project(this);"> 
					{{rs}}
					</a>	
					{% endif %}
					
				{%endif%}
                
                <!-- <a href="javascript:void(0);" class="d-p-project-join p-p-project-btn">{% trans "want join"%}</a> -->
                </span>          
			 </div> 	
			 <h2 class="d-p-project-root">{{project.name}}/
			 
			



	  {%for p in paths%}
	  
			  <a href="{{project|url}}src/{{p.url}}/">{{p.path}}</a>
			  <span>/</span>
	  {%endfor%}    
</h2>
<!-- 
{% for c in contents%}
	<p class="file-route">{{c.fname}}</p>	
	<div class="layout versions_contrast">
		<dl class="versionsleft">
			<dt>r{{revN}}</dt>
			{%for cc in c.contents%}
				
				
				{%for ccc in cc.content%}
			<dd>
				<ul class="layout">
				<li><i>1</i><div><pre>{{ccc.content.leftCont}}</pre></div></li>
			</dd>
				{%endfor%}
			{%endfor%}
			
		</dl>
		
		<dl class="versionsright">
			<dt>r{{revM}}</dt>
			{%for cc in c.contents%}
				
				
				{%for ccc in cc.content%}
			<dd>
				<ul class="layout">
				<li><i>1</i><div><pre>{{ccc.content.rightCont}}</pre></div></li>
				
				
				>
				>
				>

			</dd>
				{%endfor%}
			{%endfor%}
		</dl>
		
		
		
	</div>
			
		
	
		
	
{% endfor %}
 -->
 {%if content%}
<p>
  <pre><code class="diff">{{content}}</code></pre>
<p>
<script>hljs.initHighlightingOnLoad();</script>
{%endif%}
 
 

{%endblock%}

